[package]
name = "drive-proof-verifier"
version = "1.4.1"
edition = "2021"
rust-version.workspace = true

crate-type = ["cdylib"]

[features]
default = ["mocks"]
mocks = [
  "dep:serde",
  "dep:serde_json",
  "bincode/serde",
  "dep:platform-serialization-derive",
  "dep:platform-serialization",
  "dpp/document-serde-conversion",
  "indexmap/serde",
]

[dependencies]

bincode = { version = "2.0.0-rc.3" }
thiserror = { version = "1.0.63" }
dapi-grpc = { path = "../dapi-grpc" }
drive = { path = "../rs-drive", default-features = false, features = [
  "verify",
] }
dpp = { path = "../rs-dpp", features = [
  "bls-signatures",
  "document-value-conversion",
  "extended-document",
  "core-types-serialization",
], default-features = false }
platform-serialization-derive = { path = "../rs-platform-serialization-derive", optional = true }
platform-serialization = { path = "../rs-platform-serialization", optional = true }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", version = "1.2.1", tag = "v1.2.1+1.3.0", features = [
  "crypto",
], default-features = false }
tracing = { version = "0.1.37" }
serde = { version = "1.0.197", default-features = false, optional = true }
serde_json = { version = "1.0.103", features = [
  "preserve_order",
], optional = true }
hex = { version = "0.4.3" }
indexmap = { version = "2.6.0" }
derive_more = { version = "1.0", features = ["from"] }
