[package]
name = "drive-proof-verifier"
version = "2.1.0-dev.5"
edition = "2021"
rust-version.workspace = true

[features]
default = []
mocks = [
  "dep:serde",
  "dep:serde_json",
  "dep:platform-serialization-derive",
  "dpp/document-serde-conversion",
  "indexmap/serde",
  "dpp/data-contract-serde-conversion",
]

[dependencies]

thiserror = { version = "2.0.12" }
dapi-grpc = { path = "../dapi-grpc", default-features = false, features = [
  "platform",
  "client",
] }

drive = { path = "../rs-drive", default-features = false, features = [
  "verify",
] }
dpp = { path = "../rs-dpp", features = [
  "bls-signatures",
  "core-types-serialization",
], default-features = false }
dash-context-provider = { path = "../rs-context-provider", features = ["mocks"] }
bincode = { version = "=2.0.0-rc.3", features = ["serde"] }
platform-serialization-derive = { path = "../rs-platform-serialization-derive", optional = true }
platform-serialization = { path = "../rs-platform-serialization" }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", tag = "v1.5.0-dev.2", features = [
  "crypto",
], default-features = false }
tracing = { version = "0.1.41" }
serde = { version = "1.0.219", default-features = false, optional = true }
serde_json = { version = "1.0", features = ["preserve_order"], optional = true }
hex = { version = "0.4.3" }
indexmap = { version = "2.6.0" }
derive_more = { version = "1.0", features = ["from"] }
