[package]
name = "drive-proof-verifier"
version = "1.0.0-dev.12"
edition = "2021"
rust-version = "1.76"

crate-type = ["cdylib"]

[features]
default = ["mocks"]
mocks = ["dep:serde", "json"]
json = ["dep:serde_json"]

[dependencies]

thiserror = { version = "1.0.59" }
dapi-grpc = { path = "../dapi-grpc" }
drive = { path = "../rs-drive", default-features = false, features = [
  "verify",
] }
dpp = { path = "../rs-dpp", features = ["bls-signatures"], default-features = false }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", version = "0.14.0-dev.12", features = [
  "crypto"
], default-features = false }
tracing = { version = "0.1.37" }
serde = { version = "1.0.197", default-features = false, optional = true }
serde_json = { version = "1.0.103", features = [
  "preserve_order",
], optional = true }
hex = { version = "0.4.3" }
