[package]
name = "drive-proof-verifier"
version = "0.25.0-dev"
edition = "2021"
rust-version = "1.73"

crate-type = ["cdylib"]

[features]
default = ["mocks", "json"]
mocks = []
json = ["dep:serde_json"]


[dependencies]

thiserror = { version = "1.0.39" }
dapi-grpc = { path = "../dapi-grpc" }
drive = { path = "../rs-drive", default-features = false, features = [
    "verify",
] }
dpp = { path = "../rs-dpp" }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci" }
# tenderdash-abci = { path = "../../../rs-tenderdash-abci/abci" }
tracing = { version = "0.1.37" }
serde_json = { version = "1.0.103", features = [
    "preserve_order",
], optional = true }
hex = { version = "0.4.3" }
