[package]
name = "dash-platform-sdk"
version = "0.1.0"
edition = "2021"

[dependencies]
dpp = { path = "../rs-dpp", features = [
    "client",
    "validation",
    "identity-value-conversion",
    "state-transition-signing",
] }
dapi-grpc = { path = "../dapi-grpc", features = ["client", "mocks"] }
rs-dapi-client = { path = "../rs-dapi-client" }
drive = { path = "../rs-drive", default-features = false, features = [
    "verify",
] }
drive-proof-verifier = { path = "../rs-drive-proof-verifier" }
dapi-grpc-macros = { path = "../rs-dapi-grpc-macros" }
simple-signer = { path = "../simple-signer" }
bincode = { version = "2.0.0-rc.3", features = ["serde"], optional = true }
thiserror = "1.0.47"
tokio = { version = "1.32.0", features = ["macros"] }
tokio-util = { version = "0.7.8" }
async-trait = { version = "0.1.73" }
http = { version = "0.2.9" }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
serde = { version = "1.0.152", default-features = false, features = ["rc"] }
serde_json = { version = "1.0", features = ["preserve_order"], optional = true }
tracing = { version = "0.1.37" }
hex = { version = "0.4.3", optional = true }
dotenvy = { version = "0.15.7", optional = true }
envy = { version = "0.4.2", optional = true }
futures = { version = "0.3.28" }
derive_more = { version = "0.99.16" }
lru = { version = "0.12.0" }
# dashcore-rpc is only needed for core rpc; TODO remove once we have correct core rpc impl
dashcore-rpc = { git = "https://github.com/dashpay/rust-dashcore-rpc", branch = "feat/get-raw-change-address" }

[dev-dependencies]
rs-dapi-client = { path = "../rs-dapi-client", features = ["mocks", "dump"] }
base64 = { version = "0.21.0" }
tracing-subscriber = { version = "0.3.16" }
dpp = { path = "../rs-dpp", features = [
    "client",
    "validation",
    "random-documents",
] }


[features]
default = ["mocks", "offline-testing"]
mocks = [
    "dep:serde_json",
    "rs-dapi-client/mocks",
    "rs-dapi-client/dump",
    "dpp/document-cbor-conversion",
    "dpp/identity-value-conversion",
    "dpp/random-identities",
    "drive-proof-verifier/mocks",
    "dep:bincode",
    "dep:hex",
    "dep:dotenvy",
    "dep:envy",
]

# Disable this feature to run integration tests against a local Dash Platform
# and dump all traffic to generate test vectors.
#
# This feature is enabled by default because disabling it requires a local Dash Platform
# node to be running. Configuration of the node is done via environment variables
# and/or `${CARGO_MAINFEST_DIR}/.env` file; see also `.env.example`.
offline-testing = ["mocks"]
