[package]
name = "json-schema-compatibility-validator"
version.workspace = true
edition = "2021"
rust-version.workspace = true
authors = ["Ivan Shumkov <ivan@shumkov.ru>"]

[dependencies]
json-patch = "1.4"
serde_json = "1.0"
thiserror = "2.0.12"
once_cell = "1.19.0"

[dev-dependencies]
# enable "examples" for integration tests
json-schema-compatibility-validator = { path = ".", features = ["examples"] }
assert_matches = "1.5.0"

[features]
examples = []
