[package]
name = "wasm-dpp"
version = "1.5.0"
edition = "2021"
rust-version.workspace = true
authors = ["Anton Suprunchuk <anton.suprunchuk@gmail.com>"]

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
# TODO: Build wasm with build.rs
# Meantime if you want to update wasm-bindgen you also need to update version in:
#  - packages/wasm-dpp/scripts/build-wasm.sh
#  - Dockerfile
wasm-bindgen = { version = "=0.2.86" }
js-sys = "0.3.53"
web-sys = { version = "0.3.6", features = ["console"] }
thiserror = { version = "1.0.63" }
serde-wasm-bindgen = { git = "https://github.com/QuantumExplorer/serde-wasm-bindgen", branch = "feat/not_human_readable" }
dpp = { path = "../rs-dpp", default-features = false, features = [
    "state-transition-serde-conversion",
    "state-transition-value-conversion",
    "data-contract-value-conversion",
    "data-contract-json-conversion",
    "state-transitions",
    "cbor",
    "platform-value",
    "json-object",
    "identity-value-conversion",
    "identity-hashing",
    "factories",
    "client",
    "validation",
    "state-transition-signing",
    "state-transition-validation",
    "state-transition-json-conversion",
    "extended-document",
    "document-value-conversion",
    "document-json-conversion",
] }
itertools = { version = "0.13" }
log = { version = "0.4.6" }
wasm-logger = { version = "0.2.0" }
num_enum = "0.7"
hex = { version = "0.4" }
paste = "1.0.14"
anyhow = { version = "1.0.75" }
# required, cargo-machete false positive
wasm-bindgen-futures = "0.4.33"
async-trait = "0.1.59"
bincode = "2.0.0-rc.3"
[profile.release]
lto = true
opt-level = 's'
[package.metadata.cargo-machete]
ignored = ["wasm-bindgen-futures"]
