[package]
name = "wasm-dpp"
version = "0.1.0"
edition = "2018"
authors = ["Anton Suprunchuk <anton.suprunchuk@gmail.com>"]

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
wasm-bindgen = { version = "0.2.76" }
js-sys = "0.3.53"
web-sys = { version = "0.3.6", features = ["console"] }
thiserror = { version = "1.0" }
serde-wasm-bindgen = "0.4.3"
dpp = { path = "../rs-dpp" }
itertools  = { version="0.10.5"}
console_error_panic_hook = { version="0.1.7"}


[profile.release]
lto = true
opt-level = 's'
debug = true
