[package]
name = "dashpay-contract"
description = "DashPay data contract schema and tools"
version = "0.24.0-dev.1"
edition = "2021"
license = "MIT"

[dependencies]
lazy_static = "1.4.0"
serde_json = { version = "1.0" }
platform-value = { path = "../rs-platform-value" }
once_cell = "1.18.0"
