.git
.idea
.vscode
.nyc_output
*.log
Dockerfile
**/*.spec.ts

tmp
logs
db
scripts
node_modules

packages/*/.nyc_output
packages/*/.ultra.cache.json
packages/*/test
packages/*/tests
packages/*/build
packages/*/doc
packages/*/docs
packages/*/dist
packages/*/wasm
packages/*/lib/wasm
packages/*/node_modules
packages/*/.env

!packages/platform-test-suite/test

# Yarn
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/unplugged

.yo-repository

# Rust
target
