# ignore Mac OS metadata
.DS_Store

# ignore JetBrains IDE project specific files
.idea
.fleet

# ignore VSCode project specific files
.vscode

# Env file
.env

# NYC test runnner
.nyc_output

node_modules

*.log

# Ultra runner build cache
.ultra.cache.json

# Yarn
.yarn/*
!.yarn/cache
!.yarn/constraints.pro
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Rust build artifacts
/target
packages/*/target
.gitaipconfig

# Swift build artifacts and IDE files
.build/
.swiftpm/
.index-build/
DerivedData/
*.xcworkspace
xcuserdata/
*.dSYM/
*.o
*.swiftdeps
*.d

# Generated Swift SDK header files
packages/swift-sdk/Sources/CDashSDKFFI/DashSDKFFI.h
packages/swift-sdk/generated/DashSDKFFI.h

# Generated Swift SDK files
packages/swift-sdk/Sources/CDashSDKFFI/librs_sdk_ffi.pc
packages/swift-sdk/SwiftExampleApp/DashSDK.xcframework/
packages/swift-sdk/*.xcframework/
packages/swift-sdk/**/*.xcframework/

# rs-sdk-ffi build directory
packages/rs-sdk-ffi/build/
