[workspace]

members = [
    "packages/dapi-grpc",
    "packages/rs-dpp",
    "packages/rs-drive",
    "packages/rs-platform-value",
    "packages/rs-platform-serialization",
    "packages/rs-platform-serialization-derive",
    "packages/rs-platform-version",
    "packages/rs-platform-versioning",
    "packages/rs-platform-value-convertible",
    "packages/rs-drive-abci",
    "packages/dashpay-contract",
    "packages/withdrawals-contract",
    "packages/masternode-reward-shares-contract",
    "packages/feature-flags-contract",
    "packages/dpns-contract",
    "packages/data-contracts",
    "packages/rs-drive-proof-verifier",
    "packages/wasm-dpp",
    "packages/rs-dapi-client",
    "packages/rs-sdk",
    "packages/strategy-tests",
    "packages/simple-signer",
]
