[workspace]

members = [
    "packages/dapi-grpc",
    "packages/rs-dpp",
    "packages/wasm-dpp",
    "packages/rs-drive",
    "packages/rs-platform-value",
    "packages/rs-platform-serialization",
    "packages/rs-platform-value-convertible",
    "packages/rs-drive-abci",
    "packages/dashpay-contract",
    "packages/withdrawals-contract",
    "packages/masternode-reward-shares-contract",
    "packages/feature-flags-contract",
    "packages/dpns-contract",
    "packages/data-contracts",
    "packages/rs-drive-verify-c-binding",
    "packages/rs-drive-light-client",
    "packages/rs-drive-light-client-bindings",
    "packages/rs-dapi-client",
    "packages/rs-sdk",
]
