[package]
name = "rs-drive"
description = "Dash drive built on top of GroveDB"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
serde = { version = "1.0.132", features = ["derive"] }
ciborium = "0.2.0"
bs58 = "0.4.0"
base64 = "0.13.0"
rand = "0.8.4"
byteorder = "1.4.3"
indexmap = "1.8.0"
hex = "0.4.3"

[dependencies.grovedb]
git = "https://github.com/dashevo/grovedb"
branch = "master"

[dependencies.storage]
git = "https://github.com/dashevo/grovedb"
branch = "master"

# [dependencies.minicbor]
# version = "0.12.0"
# features = ["std"]

# [dependencies.minicbor-derive]
# version = "0.8.0"

[dev-dependencies]
tempdir = "0.3.7"
serde_json = "1.0.73"
