[package]
name = "platform-value"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "A simple value module"
version = "2.1.0-dev.7"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
bincode = { version = "=2.0.0-rc.3", features = ["serde"] }
ciborium = { version = "0.2.2", optional = true }
thiserror = "2.0.12"
bs58 = "0.5.1"
base64 = "0.22.1"
hex = "0.4.3"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"], optional = true }
rand = { version = "0.8.4", features = ["small_rng"] }
treediff = "5.0.0"
platform-serialization = { path = "../rs-platform-serialization" }
platform-version = { path = "../rs-platform-version" }
indexmap = "2.0.2"

### FEATURES #################################################################

[features]
default = ["std"]
cbor = ["ciborium"]
json = ["serde_json"]

std = ["serde/std"]
