[package]
name = "platform-serialization-derive"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Bincode serialization and deserialization derivations"
version = "2.1.0-dev.6"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.56"
virtue = "0.0.17"
quote = "1.0.37"
syn = "2.0.75"
