[package]
name = "dpp"
version = "1.0.0-dev.11"
edition = "2021"
rust-version = "1.76"
authors = [
  "Anton Suprunchuk <anton.suprunchuk@gmail.com>",
  "Samuel Westrich <sam@dash.org>",
  "Ivan Shumkov <ivan@shumkov.ru>",
  "Djavid Gabibiyan <djavid@dash.org>",
  "Igor Markin <igor.markin@dash.org>",
]

[dependencies]
anyhow = { version = "1.0.81" }
async-trait = { version = "0.1.79" }
base64 = "0.22.0"
bls-signatures = { git = "https://github.com/dashpay/bls-signatures", tag = "v1.3.1", optional = true }
bs58 = "0.4.0"
byteorder = { version = "1.4" }
chrono = { version = "0.4.35", default-features = false, features = [
  "wasmbind",
  "clock",
] }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined", optional = true }
dashcore = { git = "https://github.com/dashpay/rust-dashcore", features = [
  "std",
  "secp-recovery",
  "rand",
  "signer",
  "serde",
], default-features = false, branch = "master" }
env_logger = { version = "0.9" }
getrandom = { version = "0.2", features = ["js"] }
hex = { version = "0.4" }
integer-encoding = { version = "4.0.0" }
itertools = { version = "0.12.1" }
jsonschema = { git = "https://github.com/fominok/jsonschema-rs", branch = "feat-unevaluated-properties", default-features = false, features = [
  "draft202012",
], optional = true }
lazy_static = { version = "1.4" }
log = { version = "0.4.6" }
num_enum = "0.5.7"
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
rand = { version = "0.8.4", features = ["small_rng"] }
regex = { version = "1.5" }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_repr = { version = "0.1.7" }
sha2 = { version = "0.10" }
thiserror = { version = "1.0" }
data-contracts = { path = "../data-contracts", optional = true }
platform-value = { path = "../rs-platform-value" }
platform-version = { path = "../rs-platform-version" }
platform-versioning = { path = "../rs-platform-versioning" }
platform-serialization = { path = "../rs-platform-serialization" }
platform-serialization-derive = { path = "../rs-platform-serialization-derive" }
derive_more = "0.99.17"
ed25519-dalek = { version = "2.0.0-rc.2", features = [
  "rand_core",
], optional = true }
nohash-hasher = "0.2.0"
rust_decimal = "1.29.1"
rust_decimal_macros = "1.29.1"
indexmap = { version = "2.0.2", features = ["serde"] }
strum = { version = "0.25.0", features = ["derive"] }
json-schema-compatibility-validator = { path = '../rs-json-schema-compatibility-validator' }

[dev-dependencies]
test-case = { version = "2.0" }
tokio = { version = "1.17", features = ["full"] }
pretty_assertions = { version = "1.3.0" }
dpp = { path = ".", features = ["all_features_without_client"] }

[features]
default = ["platform-value", "state-transitions"]
all_features = [
  "json-object",
  "platform-value",
  "system_contracts",
  "state-transitions",
  "extended-document",
  "bls-signatures",
  "cbor",
  "validation",
  "identity-hashing",
  "identity-serialization",
  "ciborium",
  "document-serde-conversion",
  "document-value-conversion",
  "document-json-conversion",
  "document-cbor-conversion",
  "data-contract-serde-conversion",
  "data-contract-value-conversion",
  "data-contract-json-conversion",
  "data-contract-cbor-conversion",
  "identity-serde-conversion",
  "identity-value-conversion",
  "identity-json-conversion",
  "identity-cbor-conversion",
  "state-transition-serde-conversion",
  "state-transition-value-conversion",
  "state-transition-json-conversion",
  "state-transition-validation",
  "state-transition-signing",
  "state-transitions",
  "factories",
  "fixtures-and-mocks",
  "random-public-keys",
  "random-identities",
  "random-documents",
  "random-document-types",
  "fee-distribution",
  "client",
]

dash-sdk-features = [
  "json-object",
  "platform-value",
  "system_contracts",
  "state-transitions",
  "validation",
  "identity-hashing",
  "identity-serialization",
  "document-value-conversion",
  "data-contract-value-conversion",
  "identity-value-conversion",
  "state-transition-serde-conversion",
  "state-transition-value-conversion",
  "state-transition-json-conversion",
  "state-transition-validation",
  "state-transition-signing",
  "state-transitions",
  "fee-distribution",
  "client",
  "platform-value-cbor",
]
all_features_without_client = [
  "json-object",
  "platform-value",
  "system_contracts",
  "state-transitions",
  "extended-document",
  "cbor",
  "validation",
  "identity-hashing",
  "identity-serialization",
  "ciborium",
  "document-serde-conversion",
  "document-value-conversion",
  "document-json-conversion",
  "document-cbor-conversion",
  "data-contract-serde-conversion",
  "data-contract-value-conversion",
  "data-contract-json-conversion",
  "data-contract-cbor-conversion",
  "identity-serde-conversion",
  "identity-value-conversion",
  "identity-json-conversion",
  "identity-cbor-conversion",
  "state-transition-serde-conversion",
  "state-transition-value-conversion",
  "state-transition-json-conversion",
  "state-transition-validation",
  "state-transition-signing",
  "state-transitions",
  "factories",
  "fixtures-and-mocks",
  "random-public-keys",
  "random-identities",
  "random-documents",
  "random-document-types",
  "fee-distribution",
]
abci = [
  "state-transitions",
  "state-transition-validation",
  "validation",
  "random-public-keys",
  "identity-serialization",
  "platform-value-cbor",
]
cbor = ["ciborium"]
validation = [
  "json-schema-validation",
  "platform-value",
  "document-value-conversion",
  "state-transition-serde-conversion",
  "ed25519-dalek",
]
platform-value-json = ["platform-value/json"]
platform-value-cbor = ["platform-value/cbor"]
json-schema-validation = ["jsonschema", "platform-value-json"]
json-object = ["platform-value", "platform-value-json"]
platform-value = []
identity-hashing = ["identity-serialization"]
message-signing = []
message-signature-verification = ["bls-signatures"]
document-serde-conversion = []
document-value-conversion = ["document-serde-conversion"]
document-json-conversion = ["document-value-conversion", "platform-value-json"]
document-cbor-conversion = [
  "document-value-conversion",
  "cbor",
  "platform-value-cbor",
]
data-contract-serde-conversion = []
data-contract-value-conversion = ["data-contract-serde-conversion"]
data-contract-json-conversion = [
  "data-contract-value-conversion",
  "platform-value-json",
]
data-contract-cbor-conversion = [
  "data-contract-value-conversion",
  "cbor",
  "platform-value-cbor",
]
identity-serialization = []
identity-serde-conversion = []
identity-value-conversion = ["identity-serde-conversion"]
identity-json-conversion = ["identity-value-conversion", "platform-value-json"]
identity-cbor-conversion = [
  "identity-value-conversion",
  "cbor",
  "platform-value-cbor",
]
state-transition-serde-conversion = ["data-contract-serde-conversion"]
state-transition-value-conversion = [
  "platform-value",
  "state-transition-serde-conversion",
  "data-contract-value-conversion",
]
state-transition-json-conversion = [
  "json-object",
  "state-transition-value-conversion",
  "data-contract-json-conversion",
  "platform-value-json",
]
state-transition-validation = [
  "state-transitions",
  "message-signature-verification",
]
state-transition-signing = [
  "state-transitions",
  "message-signing",
  "state-transition-validation",
]
state-transitions = []
system_contracts = ["factories", "data-contracts", "platform-value-json"]
fixtures-and-mocks = ["system_contracts", "platform-value/json"]
random-public-keys = ["bls-signatures", "ed25519-dalek"]
random-identities = ["random-public-keys"]
random-documents = []
random-document-types = ["platform-value-json"]
fee-distribution = []
extended-document = [
  "document-serde-conversion",
  "data-contract-serde-conversion",
  "data-contract-json-conversion",
]

factories = []
client = ["factories", "state-transitions"]
