[package]
name = "dpp"
version = "1.0.0-pr.1694.7"
edition = "2021"
rust-version = "1.76"
authors = [
    "Anton Suprunchuk <anton.suprunchuk@gmail.com>",
    "Samuel Westrich <sam@dash.org>",
    "Ivan Shumkov <ivan@shumkov.ru>",
    "Djavid Gabibiyan <djavid@dash.org>",
    "Igor Markin <igor.markin@dash.org>",
]

[dependencies]
anyhow = { version = "1.0.75" }
async-trait = { version = "0.1.68" }
base64 = "0.20.0"
bls-signatures = { git = "https://github.com/dashpay/bls-signatures", tag = "v1.3.1" }
bs58 = "0.4.0"
byteorder = { version = "1.4" }
chrono = { version = "0.4.20", default-features = false, features = [
    "wasmbind",
    "clock",
] }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined", optional = true }
dashcore = { git = "https://github.com/dashpay/rust-dashcore", features = [
    "std",
    "secp-recovery",
    "rand",
    "signer",
    "serde",
], default-features = false, branch = "master" }
env_logger = { version = "0.9" }
getrandom = { version = "0.2", features = ["js"] }
hex = { version = "0.4" }
integer-encoding = { version = "4.0.0" }
itertools = { version = "0.10" }
json-patch = "0.2.6"
jsonptr = "0.1.5"
jsonschema = { git = "https://github.com/fominok/jsonschema-rs", branch = "feat-unevaluated-properties", default-features = false, features = [
    "draft202012",
] }
lazy_static = { version = "1.4" }
log = { version = "0.4.6" }
num_enum = "0.5.7"
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
rand = { version = "0.8.4", features = ["small_rng"] }
regex = { version = "1.5" }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_repr = { version = "0.1.7" }
sha2 = { version = "0.10" }
thiserror = { version = "1.0" }
data-contracts = { path = "../data-contracts" }
platform-value = { path = "../rs-platform-value" }
platform-version = { path = "../rs-platform-version" }
platform-versioning = { path = "../rs-platform-versioning" }
platform-serialization = { path = "../rs-platform-serialization" }
platform-serialization-derive = { path = "../rs-platform-serialization-derive" }
derive_more = "0.99.17"
ed25519-dalek = { version = "2.0.0-rc.2", features = ["rand_core"] }
nohash-hasher = "0.2.0"
rust_decimal = "1.29.1"
rust_decimal_macros = "1.29.1"
indexmap = { version = "2.0.2", features = ["serde"] }
strum = { version = "0.25.0", features = ["derive"] }

[dev-dependencies]
test-case = { version = "2.0" }
tokio = { version = "1.17", features = ["full"] }
pretty_assertions = { version = "1.3.0" }
dpp = { path = ".", features = ["all_features_without_client"] }

[features]
default = [
    "json-object",
    "platform-value",
    "system_contracts",
    "state-transitions",
    "extended-document",
]
all_features = [
    "json-object",
    "platform-value",
    "system_contracts",
    "state-transitions",
    "extended-document",
    "cbor",
    "validation",
    "identity-hashing",
    "identity-serialization",
    "ciborium",
    "document-serde-conversion",
    "document-value-conversion",
    "document-json-conversion",
    "document-cbor-conversion",
    "data-contract-serde-conversion",
    "data-contract-value-conversion",
    "data-contract-json-conversion",
    "data-contract-cbor-conversion",
    "identity-serde-conversion",
    "identity-value-conversion",
    "identity-json-conversion",
    "identity-cbor-conversion",
    "state-transition-serde-conversion",
    "state-transition-value-conversion",
    "state-transition-json-conversion",
    "state-transition-validation",
    "state-transition-signing",
    "state-transitions",
    "factories",
    "fixtures-and-mocks",
    "random-public-keys",
    "random-identities",
    "random-documents",
    "random-document-types",
    "fee-distribution",
    "client",
]
all_features_without_client = [
    "json-object",
    "platform-value",
    "system_contracts",
    "state-transitions",
    "extended-document",
    "cbor",
    "validation",
    "identity-hashing",
    "identity-serialization",
    "ciborium",
    "document-serde-conversion",
    "document-value-conversion",
    "document-json-conversion",
    "document-cbor-conversion",
    "data-contract-serde-conversion",
    "data-contract-value-conversion",
    "data-contract-json-conversion",
    "data-contract-cbor-conversion",
    "identity-serde-conversion",
    "identity-value-conversion",
    "identity-json-conversion",
    "identity-cbor-conversion",
    "state-transition-serde-conversion",
    "state-transition-value-conversion",
    "state-transition-json-conversion",
    "state-transition-validation",
    "state-transition-signing",
    "state-transitions",
    "factories",
    "fixtures-and-mocks",
    "random-public-keys",
    "random-identities",
    "random-documents",
    "random-document-types",
    "fee-distribution",
]
drive = ["state-transitions", "fee-distribution", "system_contracts"]
abci = [
    "state-transitions",
    "state-transition-validation",
    "validation",
    "random-public-keys",
    "identity-serialization",
]
cbor = ["ciborium"]
validation = [
    "platform-value",
    "document-value-conversion",
    "state-transition-serde-conversion",
]
json-object = ["platform-value"]
platform-value = []
identity-hashing = ["identity-serialization"]
message-signing = []
message-signature-verification = []
document-serde-conversion = []
document-value-conversion = ["document-serde-conversion"]
document-json-conversion = ["document-value-conversion"]
document-cbor-conversion = ["document-value-conversion", "cbor"]
data-contract-serde-conversion = []
data-contract-value-conversion = ["data-contract-serde-conversion"]
data-contract-json-conversion = ["data-contract-value-conversion"]
data-contract-cbor-conversion = ["data-contract-value-conversion", "cbor"]
identity-serialization = []
identity-serde-conversion = []
identity-value-conversion = ["identity-serde-conversion"]
identity-json-conversion = ["identity-value-conversion"]
identity-cbor-conversion = ["identity-value-conversion", "cbor"]
state-transition-serde-conversion = ["data-contract-serde-conversion"]
state-transition-value-conversion = [
    "platform-value",
    "state-transition-serde-conversion",
    "data-contract-value-conversion",
]
state-transition-json-conversion = [
    "json-object",
    "data-contract-json-conversion",
]
state-transition-validation = ["state-transitions", "message-signature-verification"]
state-transition-signing = ["state-transitions", "message-signing","state-transition-validation"]
state-transitions = []
system_contracts = ["factories"]
fixtures-and-mocks = ["system_contracts"]
random-public-keys = []
random-identities = ["random-public-keys"]
random-documents = []
random-document-types = []
fee-distribution = []
extended-document = [
    "document-serde-conversion",
    "data-contract-serde-conversion",
    "data-contract-json-conversion",
]

factories = []
client = ["factories", "state-transitions"]
