[package]
name = "dpp"
version = "0.1.0"
edition = "2018"
authors = ["Anton Suprunchuk <anton.suprunchuk@gmail.com>"]

[dependencies]
anyhow = { version = "1.0"}
async-trait = { version = "0.1"}
base64 = "0.13.0"
bls-signatures = { version = "0.13.0" }
bs58 = "0.4.0"
byteorder = { version="1.4"}
chrono = { version="0.4.20", default-features=false, features=["wasmbind", "clock"]}
ciborium = { version="0.2"}
dashcore = { git="https://github.com/dashpay/rust-dashcore", features=["std", "secp-recovery", "rand", "signer", "use-serde"], default-features = false, rev = "6092d584487918c5330fec93152e4df06a714067" }
env_logger = { version="0.9"}
futures = { version ="0.3"}
getrandom= { version="0.2", features=["js"]}
hex = { version = "0.4"}
integer-encoding = { version="3.0.4"}
itertools = { version ="0.10"}
json-patch = "0.2.6"
jsonptr = "0.1.5"
jsonschema = { git="https://github.com/qrayven/jsonschema-rs", branch="feat-unknown-format-cutsom-keywords", default-features=false, features=["draft202012"] }
lazy_static = { version ="1.4"}
log = { version="0.4"}
num_enum = "0.5.7"
mockall= { version ="0.11", optional = true}
rand = { version="0.8"}
regex = { version="1.5"}
serde = { version="1.0", features=["derive"]}
serde-big-array = "0.4.1"
serde_cbor = "0.11.2"
serde_json = { version="1.0", features=["preserve_order"]}
serde_repr = { version = "0.1.7" }
sha2  = { version="0.10"}
thiserror = { version = "1.0"}

[dev-dependencies]
test-case = { version ="2.0"}
tokio = { version ="1.17",  features=["full"]}

[features]
testing-utils = ["mockall"]
