[package]
name = "strategy-tests"
version = "0.25.0-dev.30"
authors = [
    "Samuel Westrich <sam@dash.org>",
    "Ivan Shumkov <ivan@shumkov.ru>",
    "Paul DeLucia <paul.delucia@dash.org>",
]
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
chrono = "0.4.20"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_with = { version = "2.3.1", features = ["hex"], default-features = false }
drive = { path = "../rs-drive" }
thiserror = "1.0.30"
rand = "0.8.5"
tempfile = "3.3.0"
bs58 = "0.4.0"
hex = "0.4.3"
indexmap = { version = "1.9.3", features = ["serde"] }
sha2 = "0.10.6"
dashcore-rpc = { git = "https://github.com/dashpay/rust-dashcore-rpc", tag = "v0.15.1" }
dpp = { path = "../rs-dpp", features = ["abci"] }
simple-signer = { path = "../simple-signer" }
platform-version = { path = "../rs-platform-version" }
rust_decimal = "1.2.5"
rust_decimal_macros = "1.25.0"
mockall = { version = "0.11", optional = true }
bytes = { version = "1.4.0", default-features = false }
prost = { version = "0.11.6", default-features = false }
tracing = { version = "0.1.37", default-features = false, features = [] }
clap = { version = "4.1.8", optional = true, features = ["derive"] }
envy = { version = "0.4.2" }
dotenvy = { version = "0.15.7", optional = true }
dapi-grpc = { path = "../dapi-grpc" }
platform-serialization = { path = "../rs-platform-serialization" }
platform-serialization-derive = { path = "../rs-platform-serialization-derive" }
tracing-subscriber = { version = "0.3.16", default-features = false, features = [
    "env-filter",
    "ansi",
    "json",
    "fmt",
    "std",
    "registry",
    "tracing-log",
], optional = false }
atty = { version = "0.2.14", optional = false }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", version = "0.13" }
# tenderdash-abci = { path = "../../../rs-tenderdash-abci/abci" }
anyhow = { version = "1.0.70" }
lazy_static = "1.4.0"
itertools = { version = "0.10.5" }
file-rotate = { version = "0.7.3" }
reopen = { version = "1.0.3" }
delegate = { version = "0.9.0" }
regex = { version = "1.8.1" }
metrics = { version = "0.21" }
metrics-exporter-prometheus = { version = "0.12" }
url = { version = "2.3.1" }
ureq = { "version" = "2.6.2" }
tokio = { version = "1", features = [
    "macros",
    "signal",
    "rt-multi-thread",
    "time",
] }
tokio-util = { version = "0.7.8" }
derive_more = "0.99.17"

[dev-dependencies]
base64 = "0.20.0"
platform-version = { path = "../rs-platform-version", features = [
    "mock-versions",
] }
dpp = { path = "../rs-dpp", features = [
    "abci",
    "random-documents",
    "state-transition-signing",
    "random-identities",
    "random-public-keys",
    "random-document-types",
    "fixtures-and-mocks",
    "identity-value-conversion",
    "data-contract-json-conversion",
    "data-contract-cbor-conversion",
] }
drive = { path = "../rs-drive" }

# For tests of grovedb verify
rocksdb = { version = "0.21.0" }

[features]
default = ["server", "mocks"]
server = ["clap", "dotenvy"]
mocks = ["mockall", "drive/fixtures-and-mocks"]