[package]
name = "strategy-tests"
version = "0.25.21"
authors = [
    "Samuel Westrich <sam@dash.org>",
    "Ivan Shumkov <ivan@shumkov.ru>",
    "Paul DeLucia <paul.delucia@dash.org>",
]
edition = "2021"
rust-version = "1.73"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
drive = { path = "../rs-drive" }
rand = "0.8.5"
hex = "0.4.3"
dpp = { path = "../rs-dpp", features = [
    "abci",
    "random-documents",
    "state-transition-signing",
    "random-identities",
    "random-public-keys",
    "random-document-types",
    "fixtures-and-mocks",
    "identity-value-conversion",
    "data-contract-json-conversion",
    "data-contract-cbor-conversion",
] }
simple-signer = { path = "../simple-signer" }
platform-version = { path = "../rs-platform-version" }
platform-serialization-derive = { path = "../rs-platform-serialization-derive" }

[dev-dependencies]
platform-version = { path = "../rs-platform-version", features = [
    "mock-versions",
] }

# For tests of grovedb verify
rocksdb = { version = "0.21.0" }
