[package]
name = "platform-versioning"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Version derivation"
version = "2.1.0-dev.3"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.56"
quote = "1.0.37"
syn = "2.0.75"
