[package]
name = "platform-versioning"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Version derivation"
version = "0.25.16-pr.1562.8"
edition = "2021"
rust-version = "1.73"
license = "MIT"
private = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.56"
quote = "1.0.26"
syn = "2.0.15"
