[package]
name = "rs-dapi-client"
version = "1.6.0-dev.1"
edition = "2021"

[features]
default = ["mocks", "offline-testing"]
mocks = [
    "dep:sha2",
    "dep:hex",
    "dapi-grpc/mocks",
    "dep:serde",
    "dep:http-serde",
    "dep:serde_json",
]
# dump requests and responses to file
dump = ["mocks"]
# skip tests that require connection to the platform; enabled by default
offline-testing = []

[dependencies]
backon = { version = "1.2", features = ["tokio-sleep"] }
dapi-grpc = { path = "../dapi-grpc", features = [
    "core",
    "platform",
    "client",
], default-features = false }
futures = "0.3.28"
http-serde = { version = "2.1", optional = true }
rand = { version = "0.8.5", features = ["small_rng"] }
thiserror = "1.0.64"
tracing = "0.1.40"
tokio = { version = "1.40", default-features = false }
sha2 = { version = "0.10", optional = true }
hex = { version = "0.4.3", optional = true }
lru = { version = "0.12.3" }
serde = { version = "1.0.197", optional = true, features = ["derive"] }
serde_json = { version = "1.0.120", optional = true }
chrono = { version = "0.4.38", features = ["serde"] }
dashmap = "6.1.0"

[dev-dependencies]
tokio = { version = "1.40", features = ["macros"] }
