[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "0.24.0-dev.1"
edition = "2021"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.152", features = ["derive"]}
ciborium = { git="https://github.com/qrayven/ciborium", branch="feat-ser-null-as-undefined" }
integer-encoding = {version = "3.0.4" }
rand = { version = "0.8.4", features = ["small_rng"] }
byteorder = { version = "1.4.3"  }
indexmap = { version = "1.8.0" }
sqlparser = { version = "0.13.0" }
thiserror = { version = "1.0.30" }
moka = { version = "0.8.1" }
nohash-hasher = { version = "0.2.0" }
dpp = { path = "../rs-dpp", features = ["fixtures-and-mocks"] }

# optional dependencies
bs58 = { version = "0.4.0", optional = true }
base64 = { version = "0.21.0", optional = true }
hex = { version = "0.4.3", optional = true }
tempfile = { version = "3", optional = true }
serde_json = { version = "1.0", features=["preserve_order"], optional = true }
enum-map = { version = "2.0.3", optional = true }
intmap = { version="2.0.0", features=["serde"], optional = true }
chrono = { version = "0.4.20", optional = true }
bincode = { version = "1.3.3", optional = true }
itertools = { version = "0.10.5", optional = true}
rust_decimal = { version = "1.2.5", optional = true }
rust_decimal_macros = { version = "1.25.0", optional = true }
lazy_static = { version = "1.4.0", optional = true }
mockall= { version ="0.11", optional = true }

#array_tool = { version = "1.0.3", optional = true }
#rand_distr = { version = "0.4.3", optional = true }
#dashcore = { git="https://github.com/dashevo/rust-dashcore", features=["std", "secp-recovery", "rand", "signer", "use-serde"], default-features = false, rev = "51548a4a1b9eca7430f5f3caf94d9784886ff2e9", optional = true }

[dependencies.grovedb]
git = "https://github.com/dashpay/grovedb"
rev = "3f07f53175d99e4a3eab7b53d8bd221f59ea9047"
optional = true

[dependencies.storage]
git = "https://github.com/dashpay/grovedb"
rev = "3f07f53175d99e4a3eab7b53d8bd221f59ea9047"
optional = true

[dependencies.costs]
git = "https://github.com/dashpay/grovedb"
rev = "3f07f53175d99e4a3eab7b53d8bd221f59ea9047"
optional = true

[dev-dependencies]
criterion = "0.3.5"

[[bench]]
name = "benchmarks"
harness = false

[features]
default = ["full"]
fixtures-and-mocks = ["mockall"]
full = [
    "fixtures-and-mocks",
    "grovedb/full",
    "storage",
    "costs",
    "bs58",
    "base64",
    "hex",
    "tempfile",
    "serde_json",
    "enum-map",
    "intmap",
    "chrono",
    "bincode",
    "itertools",
    "rust_decimal",
    "rust_decimal_macros",
    "lazy_static",
]
verify = [
    "grovedb/verify",
    "costs",
]
