[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "0.24.0-dev.1"
edition = "2021"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.132", features = ["derive"] }
ciborium = "0.2.0"
integer-encoding = "3.0.3"
bs58 = "0.4.0"
base64 = "0.13.0"
rand = { version = "0.8.4", features = ["small_rng"] }
byteorder = "1.4.3"
indexmap = "1.8.0"
hex = "0.4.3"
array_tool = "1.0.3"
rand_distr = "0.4.3"
tempfile = "3"
serde_json = { version="1.0", features=["preserve_order"] }
sqlparser = "0.13.0"
enum-map = "2.0.3"
thiserror = "1.0.30"
moka = "0.8.1"
intmap = { version="2.0.0", features=["serde"] }
chrono = "0.4.20"
bincode = "1.3.3"
dpp = { path = "../rs-dpp", features = ["testing-utils"] }
itertools = { version = "0.10.5" }
dashcore = { git="https://github.com/dashevo/rust-dashcore", features=["std", "secp-recovery", "rand", "signer"], default-features = false, rev = "6092d584487918c5330fec93152e4df06a714067" }
dashcore-rpc = { git="https://github.com/jawid-h/rust-dashcore-rpc", branch="fix/attempt-to-fix" }
mockall= { version ="0.11", optional = true}

[dependencies.grovedb]
git = "https://github.com/dashpay/grovedb"
rev = "6864631af1042e2f61ea9533ec72d95204df41f0"

[dependencies.storage]
git = "https://github.com/dashpay/grovedb"
rev = "6864631af1042e2f61ea9533ec72d95204df41f0"

[dependencies.costs]
git = "https://github.com/dashpay/grovedb"
rev = "6864631af1042e2f61ea9533ec72d95204df41f0"

[dev-dependencies]
criterion = "0.3.5"

[[bench]]
name = "benchmarks"
harness = false

[features]
core-rpc-mock = ["mockall"]
