[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "0.24.0-dev.1"
edition = "2021"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.132", features = ["derive"] }
ciborium = { git="https://github.com/qrayven/ciborium", branch="feat-ser-null-as-undefined"}
integer-encoding = "3.0.4"
bs58 = "0.4.0"
base64 = "0.21.0"
rand = { version = "0.8.4", features = ["small_rng"] }
byteorder = "1.4.3"
indexmap = "1.8.0"
hex = "0.4.3"
array_tool = "1.0.3"
rand_distr = "0.4.3"
tempfile = "3"
serde_json = { version="1.0", features=["preserve_order"] }
sqlparser = "0.13.0"
enum-map = "2.0.3"
thiserror = "1.0.30"
moka = "0.8.1"
intmap = { version="2.0.0", features=["serde"] }
nohash-hasher = "0.2.0"
chrono = "0.4.20"
bincode = "1.3.3"
dpp = { path = "../rs-dpp" }
itertools = { version = "0.10.5" }
dashcore = { git="https://github.com/dashpay/rust-dashcore", features=["no-std", "secp-recovery", "rand", "signer"], default-features = false, branch="master" }
rust_decimal = "1.2.5"
rust_decimal_macros = "1.25.0"
lazy_static = "1.4.0"

[dependencies.grovedb]
git = "https://github.com/dashpay/grovedb"
branch = "feat/PathQueryHelpers"

[dependencies.storage]
git = "https://github.com/dashpay/grovedb"
branch = "feat/PathQueryHelpers"

[dependencies.costs]
git = "https://github.com/dashpay/grovedb"
branch = "feat/PathQueryHelpers"

[dev-dependencies]
criterion = "0.3.5"
dpp = { path = "../rs-dpp", features=["mocks"]}

[[bench]]
name = "benchmarks"
harness = false
