[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "0.25.0-dev.30"
authors = [
  "Samuel Westrich <sam@dash.org>",
  "Ivan Shumkov <ivan@shumkov.ru>",
  "Djavid Gabibiyan <djavid@dash.org>",
  "Wisdom Ogwu <wisdom@dash.org",
]
edition = "2021"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.152", features = ["derive"] }
platform-version = { path = "../rs-platform-version" }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
integer-encoding = { version = "3.0.4" }
rand = { version = "0.8.4", features = ["small_rng"] }
byteorder = { version = "1.4.3" }
indexmap = { version = "1.8.0" }
sqlparser = { version = "0.13.0" }
thiserror = { version = "1.0.30" }
moka = { version = "0.11.1", features = ["future", "futures-util"] }
nohash-hasher = { version = "0.2.0" }
dpp = { path = "../rs-dpp", features = ["drive", "cbor"] }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
derive_more = "0.99.17"
tracing = { version = "0.1.37", default-features = false, features = [] }

# optional dependencies
bs58 = { version = "0.5.0", optional = true }
base64 = { version = "0.21.0", optional = true }
hex = { version = "0.4.3", optional = true }
tempfile = { version = "3", optional = true }
serde_json = { version = "1.0", features = ["preserve_order"], optional = true }
enum-map = { version = "2.0.3", optional = true }
intmap = { version = "2.0.0", features = ["serde"], optional = true }
chrono = { version = "0.4.20", optional = true }
itertools = { version = "0.10.5", optional = true }
rust_decimal = { version = "1.2.5", optional = true }
rust_decimal_macros = { version = "1.25.0", optional = true }
lazy_static = { version = "1.4.0", optional = true }
mockall = { version = "0.11", optional = true }
grovedb = { git = "https://github.com/dashpay/grovedb", rev = "6e946239c514dedcfa97eb1a42792790d38cb3eb", optional = true }
grovedb-costs = { git = "https://github.com/dashpay/grovedb", rev = "6e946239c514dedcfa97eb1a42792790d38cb3eb", optional = true }
grovedb-path = { git = "https://github.com/dashpay/grovedb", rev = "6e946239c514dedcfa97eb1a42792790d38cb3eb" }
grovedb-storage = { git = "https://github.com/dashpay/grovedb", rev = "6e946239c514dedcfa97eb1a42792790d38cb3eb", optional = true }

[dev-dependencies]
criterion = "0.3.5"
platform-version = { path = "../rs-platform-version", features = [
  "mock-versions",
] }
anyhow = "1.0.71"
dpp = { path = "../rs-dpp", features = [
  "drive",
  "document-cbor-conversion",
  "random-documents",
  "random-identities",
  "random-public-keys",
  "fixtures-and-mocks",
  "system_contracts",
  "factories",
  "data-contract-json-conversion",
] }

[[bench]]
name = "benchmarks"
harness = false

[features]
default = ["full"]
fixtures-and-mocks = ["mockall", "dpp/fixtures-and-mocks"]
full = [
  "fixtures-and-mocks",
  "grovedb/estimated_costs",
  "grovedb-storage",
  "grovedb-costs",
  "bs58",
  "base64",
  "hex",
  "tempfile",
  "serde_json",
  "enum-map",
  "intmap",
  "chrono",
  "itertools",
  "rust_decimal",
  "rust_decimal_macros",
  "lazy_static",
]
grovedb_operations_logging = []
verify = ["grovedb/verify", "grovedb-costs"]
