[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "1.0.0-pr.1694.7"
authors = [
  "Samuel Westrich <sam@dash.org>",
  "Ivan Shumkov <ivan@shumkov.ru>",
  "Djavid Gabibiyan <djavid@dash.org>",
  "Wisdom Ogwu <wisdom@dash.org",
]
edition = "2021"
rust-version = "1.76"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.152", features = ["derive"] }
platform-version = { path = "../rs-platform-version" }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
integer-encoding = { version = "4.0.0" }
rand = { version = "0.8.4", features = ["small_rng"] }
byteorder = { version = "1.4.3" }
indexmap = { version = "1.8.0" }
sqlparser = { version = "0.38.0" }
thiserror = { version = "1.0.30" }
moka = { version = "0.11.1", features = ["future", "futures-util"] }
nohash-hasher = { version = "0.2.0" }
dpp = { path = "../rs-dpp", features = ["drive", "cbor", "random-public-keys"] }
derive_more = "0.99.17"
tracing = { version = "0.1.37", default-features = false, features = [] }

# optional dependencies
bs58 = { version = "0.5.0", optional = true }
base64 = { version = "0.21.0", optional = true }
hex = { version = "0.4.3", optional = true }
tempfile = { version = "3", optional = true }
serde_json = { version = "1.0", features = ["preserve_order"], optional = true }
enum-map = { version = "2.0.3", optional = true }
intmap = { version = "2.0.0", features = ["serde"], optional = true }
chrono = { version = "0.4.20", optional = true }
itertools = { version = "0.10.5", optional = true }
grovedb = { git = "https://github.com/dashpay/grovedb", rev = "b40dd1a35f852c81caeda2d3c2910c40fae3a67f", optional = true }
grovedb-costs = { git = "https://github.com/dashpay/grovedb", rev = "b40dd1a35f852c81caeda2d3c2910c40fae3a67f", optional = true }
grovedb-path = { git = "https://github.com/dashpay/grovedb", rev = "b40dd1a35f852c81caeda2d3c2910c40fae3a67f" }
grovedb-storage = { git = "https://github.com/dashpay/grovedb", rev = "b40dd1a35f852c81caeda2d3c2910c40fae3a67f", optional = true }

[dev-dependencies]
anyhow = { version = "1.0.75" }
criterion = "0.3.5"
platform-version = { path = "../rs-platform-version", features = [
  "mock-versions",
] }
dpp = { path = "../rs-dpp", features = [
  "drive",
  "document-cbor-conversion",
  "random-documents",
  "random-identities",
  "random-public-keys",
  "fixtures-and-mocks",
  "system_contracts",
  "factories",
  "data-contract-json-conversion",
] }

[[bench]]
name = "benchmarks"
harness = false

[features]
default = ["full", "verify"]
fixtures-and-mocks = ["full", "dpp/fixtures-and-mocks", "verify"]
full = [
  "grovedb/estimated_costs",
  "grovedb-storage",
  "grovedb-costs",
  "bs58",
  "base64",
  "hex",
  "tempfile",
  "serde_json",
  "enum-map",
  "intmap",
  "chrono",
  "itertools",
]
grovedb_operations_logging = []
verify = ["grovedb/verify", "grovedb-costs"]
