[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "0.24.0-dev.1"
authors = [
    "Samuel Westrich <sam@dash.org>",
    "Ivan Shumkov <ivan@shumkov.ru>",
    "Djavid Gabibiyan <djavid@dash.org>",
    "Wisdom Ogwu <wisdom@dash.org",
]
edition = "2021"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.152", features = ["derive"] }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
integer-encoding = { version = "3.0.4" }
rand = { version = "0.8.4", features = ["small_rng"] }
byteorder = { version = "1.4.3" }
indexmap = { version = "1.8.0" }
sqlparser = { version = "0.13.0" }
thiserror = { version = "1.0.30" }
moka = { version = "0.10.1", features = ["future", "futures-util"]}
dapi-grpc = { path = "../dapi-grpc" }
nohash-hasher = { version = "0.2.0" }
dpp = { path = "../rs-dpp", features = ["fixtures-and-mocks", "cbor"] }
bincode = { version="2.0.0-rc.3", features=["serde"] }
prost = { version = "0.11.9"}

# optional dependencies
bs58 = { version = "0.4.0", optional = true }
base64 = { version = "0.21.0", optional = true }
hex = { version = "0.4.3", optional = true }
tempfile = { version = "3", optional = true }
serde_json = { version = "1.0", features = ["preserve_order"], optional = true }
enum-map = { version = "2.0.3", optional = true }
intmap = { version = "2.0.0", features = ["serde"], optional = true }
chrono = { version = "0.4.20", optional = true }
itertools = { version = "0.10.5", optional = true }
rust_decimal = { version = "1.2.5", optional = true }
rust_decimal_macros = { version = "1.25.0", optional = true }
lazy_static = { version = "1.4.0", optional = true }
mockall = { version = "0.11", optional = true }

[dependencies.grovedb]
git = "https://github.com/dashpay/grovedb"
branch = "develop"
optional = true
default-features = false

[dependencies.storage]
git = "https://github.com/dashpay/grovedb"
branch = "develop"
optional = true

[dependencies.costs]
git = "https://github.com/dashpay/grovedb"
branch = "develop"
optional = true

[dev-dependencies]
criterion = "0.3.5"

[[bench]]
name = "benchmarks"
harness = false

[features]
default = ["full"]
fixtures-and-mocks = ["mockall"]
full = [
    "fixtures-and-mocks",
    "grovedb/full",
    "storage",
    "costs",
    "bs58",
    "base64",
    "hex",
    "tempfile",
    "serde_json",
    "enum-map",
    "intmap",
    "chrono",
    "itertools",
    "rust_decimal",
    "rust_decimal_macros",
    "lazy_static",
]
verify = ["grovedb/verify", "costs"]
