[package]
name = "drive"
description = "Dash drive built on top of GroveDB"
version = "2.0.0-rc.14"
authors = [
  "Samuel Westrich <sam@dash.org>",
  "Ivan Shumkov <ivan@shumkov.ru>",
  "Djavid Gabibiyan <djavid@dash.org>",
  "Wisdom Ogwu <wisdom@dash.org",
]
edition = "2021"
rust-version.workspace = true
license = "MIT"
resolver = "2"

[dependencies]
bincode = { version = "=2.0.0-rc.3", features = ["serde"] }
platform-version = { path = "../rs-platform-version" }
# used to convert integers to bytes, needed in verifier
integer-encoding = { version = "4.0.0" }
# used for encoding, needed in verifier
byteorder = { version = "1.4.3" }
# used for query order by, needed in verifier
indexmap = { version = "2.0.2" }
# used for creating queries from sql, can be used in verifier
sqlparser = { version = "0.38.0" }
# used for int maps and needed in the verifier
nohash-hasher = { version = "0.2.0" }
dpp = { package = "dpp", path = "../rs-dpp", features = [
  "state-transitions",
], default-features = false, optional = true }
thiserror = { version = "2.0.12" }
tracing = { version = "0.1.37", default-features = false, features = [] }
derive_more = { version = "1.0", features = ["from"] }
hex = { version = "0.4.3" }

# optional dependencies
parking_lot = { version = "0.12.1", optional = true }
ciborium = { version = "0.2.2", optional = true }
arc-swap = { version = "1.7.0", optional = true }
serde = { version = "1.0.219", features = ["derive"], optional = true }
rand = { version = "0.8.4", features = ["small_rng"], optional = true }
moka = { version = "0.12", features = [
  "future",
  "futures-util",
  "sync",
], optional = true }
bs58 = { version = "0.5.0", optional = true }
base64 = { version = "0.22.1", optional = true }
tempfile = { version = "3", optional = true }
enum-map = { version = "2.0.3", optional = true }
intmap = { version = "3.0.1", features = ["serde"], optional = true }
chrono = { version = "0.4.35", optional = true }
itertools = { version = "0.13", optional = true }
grovedb = { git = "https://github.com/dashpay/grovedb", rev = "a432801353c96cf771ca5c8dcd1c11b5f8c1a80a", optional = true, default-features = false }
grovedb-costs = { git = "https://github.com/dashpay/grovedb", rev = "a432801353c96cf771ca5c8dcd1c11b5f8c1a80a", optional = true }
grovedb-path = { git = "https://github.com/dashpay/grovedb", rev = "a432801353c96cf771ca5c8dcd1c11b5f8c1a80a" }
grovedb-storage = { git = "https://github.com/dashpay/grovedb", rev = "a432801353c96cf771ca5c8dcd1c11b5f8c1a80a", optional = true }
grovedb-version = { git = "https://github.com/dashpay/grovedb", rev = "a432801353c96cf771ca5c8dcd1c11b5f8c1a80a" }
grovedb-epoch-based-storage-flags = { git = "https://github.com/dashpay/grovedb", rev = "a432801353c96cf771ca5c8dcd1c11b5f8c1a80a" }

[dev-dependencies]
criterion = "0.5"
platform-version = { path = "../rs-platform-version", features = [
  "mock-versions",
] }
dpp = { path = "../rs-dpp", features = [
  "state-transitions",
  "fee-distribution",
  "document-cbor-conversion",
  "random-documents",
  "random-identities",
  "random-public-keys",
  "fixtures-and-mocks",
  "system_contracts",
  "factories",
  "data-contract-json-conversion",
], default-features = false }
once_cell = "1.7"
serde_json = { version = "1.0", features = ["preserve_order"] }
assert_matches = "1.5.0"

[[bench]]
name = "benchmarks"
harness = false

[features]

default = ["full", "verify", "fixtures-and-mocks", "cbor_query"]
grovedbg = ["grovedb/grovedbg"]
fee-distribution = ["dpp/fee-distribution"]
fixtures-and-mocks = [
  "full",
  "dpp/fixtures-and-mocks",
  "verify",
  "dpp/data-contract-json-conversion",
  "dpp/random-public-keys",
]
server = [
  "serde",
  "parking_lot",
  "arc-swap",
  "moka",
  "dpp/validation",
  "dpp/platform-value-json",
  "dpp/system_contracts",
  "dpp/state-transitions",
  "fee-distribution",
  "grovedb/minimal",
  "grovedb/estimated_costs",
  "grovedb-storage",
  "grovedb-costs",
  "itertools",
  "rand",                    #todo: this should be removed eventually
  "enum-map",
  "intmap",
]
full = ["server", "ciborium", "serde", "bs58", "tempfile", "base64", "chrono"]
cbor_query = ["ciborium", "dpp/platform-value-cbor", "dpp/cbor"]
grovedb_operations_logging = []
verify = [
  "grovedb/verify",
  "grovedb-costs",
  "dpp/state-transitions",
  "dpp/system_contracts",
]
