[package]
name = "rs-drive"
description = "Dash drive built on top of GroveDB"
version = "0.23.0-dev.1"
edition = "2021"
license = "MIT"
private = true

[dependencies]
serde = { version = "1.0.132", features = ["derive"] }
ciborium = "0.2.0"
bs58 = "0.4.0"
base64 = "0.13.0"
rand = "0.8.4"
byteorder = "1.4.3"
indexmap = "1.8.0"
hex = "0.4.3"
array_tool = "1.0.3"
rand_distr = "0.4.3"
tempfile = "3"
serde_json = "1.0.73"
sqlparser = "0.13.0"

[dependencies.grovedb]
git = "https://github.com/dashevo/grovedb"
branch = "develop"

[dependencies.storage]
git = "https://github.com/dashevo/grovedb"
branch = "develop"
