[package]

name = "dapi-grpc-macros"
version = "1.0.0-dev.1"
edition = "2021"
description = "Macros used by dapi-grpc. Internal use only."

[lib]
proc-macro = true

[dependencies]
quote = "1.0.33"
syn = "2.0.38"
heck = "0.4.1"

[dev-dependencies]

dapi-grpc = { path = "../dapi-grpc" }
