[package]

name = "dapi-grpc-macros"
version = "2.1.0-dev.6"
edition = "2021"
description = "Macros used by dapi-grpc. Internal use only."

[lib]
proc-macro = true

[dependencies]
quote = "1.0.37"
syn = "2.0.75"
heck = "0.5.0"

[dev-dependencies]

dapi-grpc = { path = "../dapi-grpc" }
