[package]
name = "withdrawals-contract"
description = "Witdrawals data contract schema and tools"
version = "1.5.0"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
thiserror = "1.0.64"
platform-version = { path = "../rs-platform-version" }
platform-value = { path = "../rs-platform-value" }
num_enum = "0.5.7"
# serde is required, `cargo machete` false positive
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1.7"

[package.metadata.cargo-machete]
ignored = ["serde"]
