[package]
name = "withdrawals-contract"
description = "Witdrawals data contract schema and tools"
version = "0.24.0-dev.1"
edition = "2021"
license = "MIT"

[dependencies]
platform-value = { path = "../rs-platform-value" }
once_cell = "1.18.0"
num_enum = "0.5.7"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1.7"
