[package]
name = "drive-abci"
version = "2.1.0-dev.7"
authors = [
  "Samuel Westrich <sam@dash.org>",
  "Ivan Shumkov <ivan@shumkov.ru>",
  "Djavid Gabibiyan <djavid@dash.org>",
  "Lukasz Klimek <lukasz.klimek@dash.org>",
  "Igor Markin <igor.markin@dash.org>",
]
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
arc-swap = "1.7.0"
bincode = { version = "=2.0.0-rc.3", features = ["serde"] }
ciborium = { version = "0.2.2" }
chrono = "0.4.35"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
drive = { path = "../rs-drive", default-features = false, features = [
  "server",
  "grovedb_operations_logging",
] }
thiserror = "1.0.64"
rand = "0.8.5"
tempfile = "3.3.0"
hex = "0.4.3"
indexmap = { version = "2.2.6", features = ["serde"] }
dpp = { path = "../rs-dpp", default-features = false, features = ["abci"] }
simple-signer = { path = "../simple-signer", features = ["state-transitions"] }
rust_decimal = "1.2.5"
rust_decimal_macros = "1.25.0"
mockall = { version = "0.13", optional = true }
prost = { version = "0.14", default-features = false }
tracing = { version = "0.1.41", default-features = false, features = [] }
clap = { version = "4.4.10", features = ["derive"] }
envy = { version = "0.4.2" }
dotenvy = { version = "0.15.7" }
dapi-grpc = { path = "../dapi-grpc", default-features = false, features = [
  "server",
  "platform",
] }
tracing-subscriber = { version = "0.3.16", default-features = false, features = [
  "env-filter",
  "ansi",
  "json",
  "fmt",
  "std",
  "registry",
  "tracing-log",
], optional = false }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", tag = "v1.5.0-dev.2", features = [
  "grpc",
] }

lazy_static = "1.4.0"
itertools = { version = "0.13" }
file-rotate = { version = "0.7.3" }
reopen = { version = "1.0.3" }
delegate = { version = "0.13" }
regex = { version = "1.8.1" }
metrics = { version = "0.24" }
metrics-exporter-prometheus = { version = "0.16", default-features = false, features = [
  "http-listener",
] }
url = { version = "2.3.1" }
tokio = { version = "1.40", features = [
  "macros",
  "signal",
  "rt-multi-thread",
  "time",
] }
tokio-util = { version = "0.7" }
derive_more = { version = "1.0", features = ["from", "deref", "deref_mut"] }
async-trait = "0.1.77"
console-subscriber = { version = "0.4", optional = true }
bls-signatures = { git = "https://github.com/dashpay/bls-signatures", rev = "0842b17583888e8f46c252a4ee84cdfd58e0546f", optional = true }

[dev-dependencies]
bs58 = { version = "0.5.0" }
base64 = "0.22.1"
platform-version = { path = "../rs-platform-version", features = [
  "mock-versions",
] }
dpp = { path = "../rs-dpp", default-features = false, features = [
  "abci",
  "random-documents",
  "state-transition-signing",
  "random-identities",
  "random-public-keys",
  "random-document-types",
  "fixtures-and-mocks",
  "identity-value-conversion",
  "data-contract-json-conversion",
  "data-contract-cbor-conversion",
] }
drive = { path = "../rs-drive", features = ["fixtures-and-mocks"] }
strategy-tests = { path = "../strategy-tests" }
assert_matches = "1.5.0"
drive-abci = { path = ".", features = ["testing-config", "mocks"] }
bls-signatures = { git = "https://github.com/dashpay/bls-signatures", rev = "0842b17583888e8f46c252a4ee84cdfd58e0546f" }
mockall = { version = "0.13" }

# For tests of grovedb verify
rocksdb = { version = "0.23.0" }
integer-encoding = { version = "4.0.0" }

[features]
default = ["bls-signatures"]
mocks = ["mockall", "drive/fixtures-and-mocks", "bls-signatures"]
console = ["console-subscriber", "tokio/tracing"]
testing-config = []
grovedbg = ["drive/grovedbg"]

[[bin]]
name = "drive-abci"
path = "src/main.rs"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
  'cfg(tokio_unstable)',
  'cfg(create_sdk_test_data)',
] }
