[package]
name = "drive-abci"
version = "1.0.0-dev.7"
authors = [
  "Samuel Westrich <sam@dash.org>",
  "Ivan Shumkov <ivan@shumkov.ru>",
  "Djavid Gabibiyan <djavid@dash.org>",
  "Lukasz Klimek <lukasz.klimek@dash.org>",
  "Igor Markin <igor.markin@dash.org>",
]
edition = "2021"
rust-version = "1.76"
license = "MIT"

[dependencies]
arc-swap = "1.7.0"
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
chrono = "0.4.35"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_with = { version = "3.1.0", features = [
  "hex",
  "macros",
], default-features = false }
drive = { path = "../rs-drive", default-features = false, features = [
  "full",
  "grovedb_operations_logging",
] }
thiserror = "1.0.30"
rand = "0.8.5"
tempfile = "3.3.0"
hex = "0.4.3"
indexmap = { version = "1.9.3", features = ["serde"] }
sha2 = "0.10.6"
dashcore-rpc = { git = "https://github.com/dashpay/rust-dashcore-rpc", tag = "v0.15.2" }
dpp = { path = "../rs-dpp", features = ["abci"] }
simple-signer = { path = "../simple-signer" }
rust_decimal = "1.2.5"
rust_decimal_macros = "1.25.0"
mockall = { version = "0.11", optional = true }
prost = { version = "0.12", default-features = false }
tracing = { version = "0.1.37", default-features = false, features = [] }
clap = { version = "4.4.10", features = ["derive"] }
envy = { version = "0.4.2" }
dotenvy = { version = "0.15.7" }
dapi-grpc = { path = "../dapi-grpc" }
tracing-subscriber = { version = "0.3.16", default-features = false, features = [
  "env-filter",
  "ansi",
  "json",
  "fmt",
  "std",
  "registry",
  "tracing-log",
], optional = false }
atty = { version = "0.2.14", optional = false }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", version = "0.14.0-dev.8", features = [
  "grpc",
] }
lazy_static = "1.4.0"
itertools = { version = "0.10.5" }
file-rotate = { version = "0.7.3" }
reopen = { version = "1.0.3" }
delegate = { version = "0.9.0" }
regex = { version = "1.8.1" }
metrics = { version = "0.21" }
metrics-exporter-prometheus = { version = "0.12" }
url = { version = "2.3.1" }
ureq = { "version" = "2.6.2" }
tokio = { version = "1.36", features = [
  "macros",
  "signal",
  "rt-multi-thread",
  "time",
] }
tokio-util = { version = "0.7.8" }
derive_more = "0.99.17"
async-trait = "0.1.77"
console-subscriber = { version = "0.2.0", optional = true }

[dev-dependencies]
base64 = "0.20.0"
platform-version = { path = "../rs-platform-version", features = [
  "mock-versions",
] }
dpp = { path = "../rs-dpp", features = [
  "abci",
  "random-documents",
  "state-transition-signing",
  "random-identities",
  "random-public-keys",
  "random-document-types",
  "fixtures-and-mocks",
  "identity-value-conversion",
  "data-contract-json-conversion",
  "data-contract-cbor-conversion",
] }
drive = { path = "../rs-drive" }
strategy-tests = { path = "../strategy-tests" }

# For tests of grovedb verify
rocksdb = { version = "0.21.0" }
integer-encoding = { version = "4.0.0" }

[features]
# TODO: Remove console for production
default = ["mocks", "console"]
mocks = ["mockall", "drive/fixtures-and-mocks"]
console = ["console-subscriber", "tokio/tracing"]


[[bin]]
name = "drive-abci"
path = "src/main.rs"
required-features = ["console"]
