[package]
name = "drive-abci"
version = "0.1.0"
authors = [
    "Samuel Westrich <sam@dash.org>",
    "Ivan Shumkov <ivan@shumkov.ru>",
    "Djavid Gabibiyan <djavid@dash.org>",
    "Lukasz Klimek <lukasz.klimek@dash.org>",
]
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
ciborium = { git = "https://github.com/qrayven/ciborium", branch = "feat-ser-null-as-undefined" }
chrono = "0.4.20"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_with = { version = "2.3.1", features = ["hex"], default-features = false }
drive = { path = "../rs-drive", features = ["fixtures-and-mocks"] }
thiserror = "1.0.30"
rand = "0.8.5"
tempfile = "3.3.0"
bs58 = "0.4.0"
base64 = "0.13.0"
hex = "0.4.3"
dashcore = { git = "https://github.com/dashpay/rust-dashcore", features = [
    "std",
    "secp-recovery",
    "rand",
    "signer",
    "use-serde",
], default-features = false, rev = "51548a4a1b9eca7430f5f3caf94d9784886ff2e9" }
dashcore-rpc = { git = "https://github.com/dashpay/rust-dashcore-rpc", branch = "feat/quorumListImprovement" }
dpp = { path = "../rs-dpp", features = ["fixtures-and-mocks"] }
rust_decimal = "1.2.5"
rust_decimal_macros = "1.25.0"
mockall = { version = "0.11" }
bytes = { version = "1.4.0", default-features = false }
prost = { version = "0.11.6", default-features = false }
tracing = { version = "0.1.37", default-features = false, features = [] }
flex-error = { version = "0.4.4", default-features = false }
structopt = { version = "0.3.26", optional = true, default-features = false }
clap = { version = "4.1.8", optional = true, features = ["derive"] }
envy = { version = "0.4.2" }
dotenvy = { version = "0.15.6", optional = true }
tracing-subscriber = { version = "0.3.16", default-features = false, features = [
    "env-filter",
    "ansi",
], optional = true }
atty = { version = "0.2.14", optional = true }
tenderdash-abci = { git = "https://github.com/dashpay/rs-tenderdash-abci", branch = "feat/sign-bytes", optional = true }
# tenderdash-abci = { path = "../../../rs-tenderdash-abci/abci", optional = true }
anyhow = { version = "1.0.70" }
lazy_static = "1.4.0"
itertools = { version = "0.10.5" }

[features]
default = ["server"]
server = ["tenderdash-abci", "clap", "dotenvy", "tracing-subscriber", "atty"]

[[bin]]
name = "drive-abci"
path = "src/main.rs"
required-features = ["server"]
