[package]
name = "feature-flags-contract"
description = "Feature flags data contract schema and tools"
version.workspace = true
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
thiserror = "2.0.12"
platform-version = { path = "../rs-platform-version" }
serde_json = { version = "1.0" }
platform-value = { path = "../rs-platform-value" }
