[package]
name = "feature-flags-contract"
description = "Feature flags data contract schema and tools"
version = "1.6.0-pr.2287.1"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
thiserror = "1.0.64"
platform-version = { path = "../rs-platform-version" }
serde_json = { version = "1.0" }
platform-value = { path = "../rs-platform-value" }
