name: Dashmate

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/dashmate.yml
      - .github/workflows/test.yml
      - packages/js-dash-sdk/**
      - packages/wallet-lib/**
      - packages/js-dapi-client/**
      - packages/dapi-grpc/**
      - packages/js-dpp/**
      - packages/js-grpc-common/**
      - packages/dashpay-contract/**
      - packages/feature-flags-contract/**
      - packages/masternode-reward-shares-contract/**
      - packages/dpns-contract/**
      - packages/dash-spv/**

jobs:
  dashmate-tests:
    name: Run Dashmate tests
    uses: dashevo/platform/.github/workflows/test.yml@master
    with:
      package: 'dashmate'
