name: DashPay Contract

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/dashpay-contract.yml
      - .github/workflows/test.yml
      - packages/dashpay-contract/**
      - packages/js-dpp/**
      - packages/feature-flags-contract/**
      - packages/dpns-contract/**

jobs:
  dapi-tests:
    name: Run DAPI gRPC tests
    uses: dashevo/platform/.github/workflows/test.yml@master
    with:
      package: '@dashevo/dashpay-contract'
