name: Dash SDK

on:
  workflow_dispatch:
  release:
    types:
      - published
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/js-dash-sdk.yml
      - .github/workflows/test.yml
      - packages/js-dash-sdk/**
      - packages/wallet-lib/**
      - packages/js-dapi-client/**
      - packages/dapi-grpc/**
      - packages/js-dpp/**
      - packages/js-grpc-common/**
      - packages/dashpay-contract/**
      - packages/feature-flags-contract/**
      - packages/dpns-contract/**

jobs:
  js-dash-sdk-tests:
    name: Run Dash SDK tests
    uses: dashevo/platform/.github/workflows/test.yml@${{ GITHUB_REF_NAME }}
    with:
      package: 'dash'
      start-local-network: true
