name: DAPI Client

on:
  workflow_dispatch:
  release:
    types:
      - published
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/js-dapi-client.yml
      - .github/workflows/test.yml
      - packages/js-dapi-client/**
      - packages/dapi-grpc/**
      - packages/js-dpp/**
      - packages/js-grpc-common/**
      - packages/dashpay-contract/**
      - packages/feature-flags-contract/**
      - packages/dpns-contract/**

jobs:
  js-dapi-client-tests:
    name: Run DAPI Client tests
    uses: dashevo/platform/.github/workflows/test.yml@${{ GITHUB_REF_NAME }}
    with:
      package: '@dashevo/dapi-client'
