name: gRPC Common

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/js-grpc-common.yml
      - .github/workflows/js-checks.yml
      - packages/js-grpc-common/**
  schedule:
    - cron: '30 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  js-checks:
    name: JS
    uses: ./.github/workflows/js-checks.yml
    with:
      package: '@dashevo/grpc-common'
