name: Package RS Tests

on:
  workflow_call:
    inputs:
      package:
        description: The package name to run tests for
        type: string
        required: true

jobs:
  lint:
    name: Linting
    runs-on: self-hosted
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          toolchain: stable
          components: clippy

      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

  formatting:
    name: Formatting
    runs-on: self-hosted
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          toolchain: stable
          components: rustfmt

      - name: Check formatting
        run: exit `cargo fmt --check --package=${{ inputs.package }} | wc -l`

  compile:
    name: Compilation errors
    runs-on: self-hosted
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - run: cargo check --package=${{ inputs.package }}

  test:
    name: Tests
    runs-on: self-hosted
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Run tests
        run: cargo test --package=${{ inputs.package }} --all-features
