name: RS Drive

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/rs-drive.yml
      - .github/workflows/rs-checks.yml
      - packages/feature-flags-contract/**
      - packages/dpns-contract/**
      - packages/dashpay-contract/**
      - packages/masternode-reward-shares-contract/**
      - packages/rs-dpp/**
  schedule:
    - cron: "30 4 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  feature-compilation:
    name: Feature compilation errors
    runs-on: self-hosted
    timeout-minutes: 15

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Setup Cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-targets: true
          # We set a shared key, as our cache is reusable between jobs
          shared-key: rust-cargo

      - run: cargo check --package=drive --no-default-features --features=verify

  rs-checks:
    name: Rust
    uses: ./.github/workflows/rs-checks.yml
    with:
      package: "drive"
