on:
  workflow_call:
    inputs:
      package:
        description: The package name to run tests for
        type: string
        required: true
      direct-packages:
        description: JSON array of JS packages that changed directly
        type: string
        default: '[]'
      skip-tests:
        description: Skip running tests
        type: boolean
        default: false
      test-command:
        description: Test command to run
        type: string
        default: test

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    if: contains(fromJSON(inputs.direct-packages), inputs.package)
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Node.JS
        uses: ./.github/actions/nodejs

      - name: Download JS build artifacts
        uses: actions/download-artifact@v4
        with:
          name: js-build-${{ github.sha }}
          path: packages

      - name: Run ESLinter
        run: yarn workspace "${{ inputs.package }}" lint

  test:
    name: Tests
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read
    if: ${{ !inputs.skip-tests }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.JS
        uses: ./.github/actions/nodejs

      - name: Download JS build artifacts
        uses: actions/download-artifact@v4
        with:
          name: js-build-${{ github.sha }}
          path: packages

      - name: Create necessary dotenv files
        run: |
          cp packages/dapi/.env.example packages/dapi/.env

      - name: Run tests
        run: yarn workspace "${{ inputs.package }}" ${{ inputs.test-command }}
