on:
  workflow_call:
    inputs:
      name:
        type: string
        description: Name
        required: true
      test-pattern:
        type: string
        description: Test pattern. i.e. test/e2e/*.spec.js
        required: true
      restore_local_network_data:
        type: boolean
        description: Load local network data from cache
        default: false

jobs:
  dashmate-test:
    name: Run ${{ inputs.name }} tests
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to ECR
        uses: ./.github/actions/aws_ecr_login
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ vars.AWS_REGION }}
          aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

      - name: Setup Node.JS
        uses: ./.github/actions/nodejs

      - name: Download JS build artifacts
        uses: actions/download-artifact@v4
        with:
          name: js-build-${{ github.sha }}
          path: packages

      - name: Replace with pre-built images
        run: |
          set -e

          # Login to ECR
          DOCKER_HUB_ORG="${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com"

          SHA_TAG=sha-${{ github.sha }}

          # Drive
          DRIVE_IMAGE_AND_VERSION=$(yarn dashmate config get --config=local platform.drive.abci.docker.image)
          docker pull $DOCKER_HUB_ORG/drive:$SHA_TAG
          docker tag $DOCKER_HUB_ORG/drive:$SHA_TAG $DRIVE_IMAGE_AND_VERSION

          # DAPI
          DAPI_IMAGE_AND_VERSION=$(yarn dashmate config get --config=local platform.dapi.api.docker.image)
          docker pull $DOCKER_HUB_ORG/dapi:$SHA_TAG
          docker tag $DOCKER_HUB_ORG/dapi:$SHA_TAG $DAPI_IMAGE_AND_VERSION

          # RS-DAPI
          RS_DAPI_IMAGE_AND_VERSION=$(yarn dashmate config get --config=local platform.dapi.rsDapi.docker.image)
          docker pull $DOCKER_HUB_ORG/rs-dapi:$SHA_TAG
          docker tag $DOCKER_HUB_ORG/rs-dapi:$SHA_TAG $RS_DAPI_IMAGE_AND_VERSION

          # Dashmate helper image is hardcoded so we replace it with the built one
          VERSION=$(cat package.json | jq -r '.version')
          docker pull $DOCKER_HUB_ORG/dashmate-helper:$SHA_TAG
          docker tag $DOCKER_HUB_ORG/dashmate-helper:$SHA_TAG dashpay/dashmate-helper:${VERSION}
        shell: bash

      - name: Get dashmate fingerprint
        id: dashmate-fingerprint
        run: echo "sha=$(git log -1 --format="%h" -- packages/dashmate)" >> $GITHUB_OUTPUT
        if: inputs.restore_local_network_data == true

      - name: Set HOME variable to github context
        shell: bash
        run: echo "HOME=$HOME" >> $GITHUB_ENV

      - name: Restore test suite local network data to speed up dashmate local network tests
        id: local-network-data
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ env.HOME }}/.dashmate
            **/.env
            dashmate_volumes_dump
          key: local-network-volumes/${{ steps.dashmate-fingerprint.outputs.sha }}
        if: inputs.restore_local_network_data == true

      - name: Restore dashmate volumes
        run: ./scripts/dashmate/volumes/restore.sh
        if: steps.local-network-data.outputs.cache-hit == 'true'

      - name: Run tests with cache
        run: yarn workspace dashmate run mocha ${{ inputs.test-pattern }}
        env:
          DEBUG: 1
          DASHMATE_E2E_TESTS_SKIP_IMAGE_BUILD: true
          DASHMATE_E2E_TESTS_LOCAL_HOMEDIR: ${{ env.HOME }}/.dashmate
        if: steps.local-network-data.outputs.cache-hit == 'true'

      - name: Run tests without cache
        run: yarn workspace dashmate run mocha ${{ inputs.test-pattern }}
        env:
          DEBUG: 1
          DASHMATE_E2E_TESTS_SKIP_IMAGE_BUILD: true
        if: steps.local-network-data.outputs.cache-hit == 'false'

      - name: Show Docker logs
        if: ${{ failure() }}
        uses: jwalton/gh-docker-logs@v2
