on:
  workflow_call:
    inputs:
      package:
        description: The package name to run tests for
        type: string
        required: true
      test-runner:
        description: Runner for tests. Must be JSON valid string.
        type: string
        default: '[ "self-hosted", "linux", "arm64", "ubuntu-platform" ]'
      lint-runner:
        description: Runner for linting. Must be JSON valid string.
        type: string
        default: '"ubuntu-22.04"'
      check-each-feature:
        description: If true, try to build each individual feature for this crate
        type: boolean
        default: false

jobs:
  lint:
    name: Linting
    runs-on: ${{ fromJSON(inputs.lint-runner) }}
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials and bucket region
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          components: clippy

      - uses: clechasseur/rs-clippy-check@v3
        with:
          args: --package ${{ inputs.package }} --all-features --locked -- --no-deps
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_BUCKET: multi-runner-cache-x1xibo9c
          SCCACHE_REGION: ${{ vars.AWS_REGION }}
          SCCACHE_S3_KEY_PREFIX: ${{ runner.os }}/sccache/${{ runner.arch }}/linux-gnu

  formatting:
    name: Formatting
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          components: rustfmt
          cache: false

      - name: Check formatting
        run: exit `cargo fmt --check --package=${{ inputs.package }} | wc -l`

  unused_deps:
    name: Unused dependencies
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials and bucket region
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}

      - name: Setup Rust
        uses: ./.github/actions/rust

      - name: Get crate ${{ inputs.package }} info
        id: crate_info
        uses: ./.github/actions/crate_info
        with:
          package: ${{ inputs.package }}

      - name: Find unused dependencies
        uses: lklimek/cargo-machete@feat/workdir
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_BUCKET: multi-runner-cache-x1xibo9c
          SCCACHE_REGION: ${{ vars.AWS_REGION }}
          SCCACHE_S3_KEY_PREFIX: ${{ runner.os }}/sccache/${{ runner.arch }}/linux-gnu
        with:
          args: ${{ steps.crate_info.outputs.cargo_manifest_dir }}

  detect_structure_changes:
    name: Detect immutable structure changes
    runs-on: ubuntu-22.04
    # FIXME: as we use `gh pr view` below, this check can only
    # run on pull requests. We should find a way to run it
    # when manual triggers are used.
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout base commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Get all changed Rust files
        id: files
        run: |
          gh pr view https://github.com/${{ github.repository }}/pull/${{ github.event.pull_request.number }} --json files --jq "[.files[].path] | map(select(test(\"packages/${{ inputs.package }}/.*.rs$\")))" > files.json
          echo "files=$(cat files.json)" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Save append_only and immutable structures
        id: base_structures
        run: |
          mkdir base_structures
          for file in $(jq -r '.[]' <<< "${{ steps.files.outputs.files }}"); do
            if [[ $file == *.rs ]]; then
              awk '/@append_only/,/}/' $file > "base_structures/$(basename $file).append_only.base"
              awk '/@immutable/,/}/' $file > "base_structures/$(basename $file).immutable.base"
            fi
          done
          echo "base_dir=$(pwd)/base_structures" >> $GITHUB_OUTPUT

      - name: Checkout PR commit
        uses: actions/checkout@v4

      - name: Check structure changes
        run: |
          for file in $(jq -r '.[]' <<< "${{ steps.files.outputs.files }}"); do
            if [[ $file == *.rs ]]; then
              awk '/@append_only/,/}/' $file > "$(basename $file).append_only.pr"
              awk '/@immutable/,/}/' $file > "$(basename $file).immutable.pr"

              # Check append_only structures
              if ! diff -u "${{ steps.base_structures.outputs.base_dir }}/$(basename $file).append_only.base" "$(basename $file).append_only.pr" | grep "^-" | grep -v "@append_only" | grep -v "^-" | grep -v "^///" | grep -v "^//" | grep -v "^-$"; then
                echo "No deletions detected in @append_only structures in $file. Test passed."
              else
                echo "Deletions detected in @append_only structures in $file. Test failed."
                exit 1
              fi

              # Check immutable structures
              if ! diff -u "${{ steps.base_structures.outputs.base_dir }}/$(basename $file).immutable.base" "$(basename $file).immutable.pr" | grep -E "^\+[^/+]|^-[^/-]" ; then
                echo "No code changes detected in @immutable structures in $file. Test passed."
              else
                echo "Code changes detected in @immutable structures in $file. Test failed."
                exit 1
              fi
            fi
          done

  test:
    name: Tests
    runs-on: ${{ fromJSON(inputs.test-runner) }}
    timeout-minutes: 20
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials and bucket region
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Rust
        uses: ./.github/actions/rust

      - name: Run tests
        run: cargo test --package=${{ inputs.package }} --all-features --locked
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_BUCKET: multi-runner-cache-x1xibo9c
          SCCACHE_REGION: ${{ vars.AWS_REGION }}
          SCCACHE_S3_KEY_PREFIX: ${{ runner.os }}/sccache/${{ runner.arch }}/linux-gnu

  check_each_feature:
    name: Check each feature
    runs-on: ${{ fromJSON(inputs.test-runner) }}
    timeout-minutes: 10
    if: ${{ inputs.check-each-feature }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials and bucket region
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Rust
        uses: ./.github/actions/rust

      - name: Get crate ${{ inputs.package }} info
        id: crate_info
        uses: ./.github/actions/crate_info
        with:
          package: ${{ inputs.package }}

      - name: Check each feature in ${{ inputs.package }}
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_BUCKET: multi-runner-cache-x1xibo9c
          SCCACHE_REGION: ${{ vars.AWS_REGION }}
          SCCACHE_S3_KEY_PREFIX: ${{ runner.os }}/sccache/${{ runner.arch }}/linux-gnu
        run: |
          echo Verify all features disabled
          set -ex
          features="${{ steps.crate_info.outputs.features }}"
          fails=""
          RUSTFLAGS="-D warnings"
          cargo check --no-default-features --package "${{ inputs.package }}" --locked
          for feature in $features ;  do
            echo " ============== Verify feature $feature =============="
            cargo check \
              --no-default-features \
              --package "${{ inputs.package }}" \
              --features="${feature}" \
              --locked || fails="${fails} ${feature}"
          done

          if [ -n "$fails" ] ; then
            echo "Failed features: $fails"
            exit 1
          fi
          echo "All features verified"
