on:
  workflow_call:
    inputs:
      name:
        type: string
        description: Name
        required: true
      command:
        description: Run tests command
        type: string
        default: test
        required: true
      batch_index:
        description: Browser test batch index
        type: number
        default: 0
      batch_total:
        description: Browser test batch total
        type: number
        default: 0
      runner:
        description: Runner. Must be JSON valid string.
        type: string
        default: '[ "self-hosted", "linux", "arm64", "ubuntu-platform" ]'

jobs:
  test-suite:
    name: Run ${{ inputs.name }}
    runs-on: ${{ fromJSON(inputs.runner) }}
    timeout-minutes: 15
    env:
      CHROME_BIN: /usr/bin/brave-browser
      ECR_HOST: ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configure AWS credentials and bucket region
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to ECR
        run: aws ecr get-login-password --region ${{ vars.AWS_REGION }} | docker login --username AWS --password-stdin ${{ env.ECR_HOST }}

      - name: Start local network
        uses: ./.github/actions/local-network
        with:
          image_org: ${{ env.ECR_HOST }}

      - name: Run test suite
        run: yarn workspace @dashevo/platform-test-suite ${{ inputs.command }}
        env:
            BROWSER_TEST_BATCH_INDEX: ${{ inputs.batch_index }}
            BROWSER_TEST_BATCH_TOTAL: ${{ inputs.batch_total }}

      - name: Show Docker logs
        if: ${{ failure() }}
        uses: jwalton/gh-docker-logs@v2
