name: Wallet Lib

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/wallet-lib.yml
      - .github/workflows/test.yml
      - packages/wallet-lib/**
      - packages/js-dapi-client/**
      - packages/dapi-grpc/**
      - packages/js-dpp/**
      - packages/js-grpc-common/**
      - packages/dashpay-contract/**
      - packages/feature-flags-contract/**
      - packages/dpns-contract/**

jobs:
  js-wallet-lib-tests:
    name: Run Wallet lib tests
    uses: dashevo/platform/.github/workflows/test.yml@feat-yarn2
    with:
      package: '@dashevo/wallet-lib'
      start-local-network: true
