name: WASM DPP

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - master
      - v[0-9]+\.[0-9]+-dev
    paths:
      - .github/workflows/wasm-dpp.yml
      - .github/workflows/js-checks.yml
      - .github/workflows/rs-checks.yml
      - packages/feature-flags-contract/**
      - packages/masternode-reward-shares-contract/**
      - packages/dpns-contract/**
      - packages/dashpay-contract/**
      - packages/wasm-dpp/**
  schedule:
    - cron: "30 4 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  js-checks:
    name: JS
    uses: ./.github/workflows/js-checks.yml
    secrets: inherit
    with:
      package: "@dashevo/wasm-dpp"
      install-browsers: true

  rs-checks:
    name: Rust
    uses: ./.github/workflows/rs-checks.yml
    with:
      package: "wasm-dpp"

  wasm-errors:
    name: WASM compilation
    runs-on: [ "self-hosted", "linux", "x64", "ubuntu-platform" ]
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || !github.event.pull_request.draft }}
    timeout-minutes: 15
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/rust
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Compile WASM
        run: cargo check --lib --target wasm32-unknown-unknown --package=wasm-dpp
