---

services:
  core_insight:
    image: ${CORE_INSIGHT_DOCKER_IMAGE:?err}
    labels:
      org.dashmate.service.title: "Core Insight API"
    restart: unless-stopped
    ports:
      - 127.0.0.1:${CORE_INSIGHT_PORT:?err}:${CORE_INSIGHT_PORT:?err}
    depends_on:
      - core
    volumes:
      - ${DASHMATE_HOME_DIR:?err}/${CONFIG_NAME:?err}/core/insight/dashcore-node.json:/insight/dashcore-node.json
    profiles:
      - core
