version: '3.7'

services:
  drive_abci:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/Dockerfile
      target: drive-abci
      args:
        RUSTC_WRAPPER: "${RUSTC_WRAPPER}"
        SCCACHE_MEMCACHED: ${SCCACHE_MEMCACHED}
        SCCACHE_GHA_ENABLED: ${SCCACHE_GHA_ENABLED}
        ACTIONS_CACHE_URL: ${ACTIONS_CACHE_URL}
        ACTIONS_RUNTIME_TOKEN: ${ACTIONS_RUNTIME_TOKEN}
    image: drive:local
    stop_grace_period: 30s

  dapi_api:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/Dockerfile
      target: dapi
      args:
        RUSTC_WRAPPER: "${RUSTC_WRAPPER}"
        SCCACHE_MEMCACHED: ${SCCACHE_MEMCACHED}
        SCCACHE_GHA_ENABLED: ${SCCACHE_GHA_ENABLED}
        ACTIONS_CACHE_URL: ${ACTIONS_CACHE_URL}
        ACTIONS_RUNTIME_TOKEN: ${ACTIONS_RUNTIME_TOKEN}
    image: dapi:local
    stop_grace_period: 10s

  dapi_tx_filter_stream:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/Dockerfile
      target: dapi
      args:
        RUSTC_WRAPPER: "${RUSTC_WRAPPER}"
        SCCACHE_MEMCACHED: ${SCCACHE_MEMCACHED}
        SCCACHE_GHA_ENABLED: ${SCCACHE_GHA_ENABLED}
        ACTIONS_CACHE_URL: ${ACTIONS_CACHE_URL}
        ACTIONS_RUNTIME_TOKEN: ${ACTIONS_RUNTIME_TOKEN}
    image: dapi:local
    stop_grace_period: 10s

  dapi_envoy:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/packages/dashmate/docker/envoy/Dockerfile
      args:
        RUSTC_WRAPPER: "${RUSTC_WRAPPER}"
        SCCACHE_MEMCACHED: ${SCCACHE_MEMCACHED}
        SCCACHE_GHA_ENABLED: ${SCCACHE_GHA_ENABLED}
        ACTIONS_CACHE_URL: ${ACTIONS_CACHE_URL}
        ACTIONS_RUNTIME_TOKEN: ${ACTIONS_RUNTIME_TOKEN}
    image: dapi-envoy:local
    stop_grace_period: 10s

  dashmate_helper:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/Dockerfile
      target: dashmate-helper
      args:
        RUSTC_WRAPPER: "${RUSTC_WRAPPER}"
        SCCACHE_MEMCACHED: ${SCCACHE_MEMCACHED}
        SCCACHE_GHA_ENABLED: ${SCCACHE_GHA_ENABLED}
        ACTIONS_CACHE_URL: ${ACTIONS_CACHE_URL}
        ACTIONS_RUNTIME_TOKEN: ${ACTIONS_RUNTIME_TOKEN}
    image: dashmate_helper:local
    stop_grace_period: 10s
