version: '3.7'

services:
  drive_abci:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/packages/js-drive/Dockerfile
    image: drive:local

  dapi_api:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/packages/dapi/Dockerfile
    image: dapi:local

  dapi_tx_filter_stream:
    build:
      context: ${PLATFORM_SOURCE_PATH:?err}
      dockerfile: ${PLATFORM_SOURCE_PATH:?err}/packages/dapi/Dockerfile
    image: dapi:local
