version: '3.7'

services:
  sentinel:
    image: ${CORE_SENTINEL_DOCKER_IMAGE:?err}
    restart: unless-stopped
    depends_on:
      - core
    environment:
      - DEBUG=false
      - RPCUSER=${CORE_RPC_USER:?err}
      - RPCPASSWORD=${CORE_RPC_PASSWORD:?err}
      - RPCHOST=core
      - RPCPORT=${CORE_RPC_PORT:?err}
      - NETWORK=${NETWORK?:err}
      - SENTINEL_ARGS=-b
