version: '3.7'

services:
  core:
    image: ${CORE_DOCKER_IMAGE:?err}
    restart: unless-stopped
    ports:
      - ${CORE_P2P_PORT:?err}:${CORE_P2P_PORT:?err} # P2P
      - 127.0.0.1:${CORE_RPC_PORT:?err}:${CORE_RPC_PORT:?err} #RPC
    volumes:
      - core_data:/home/dash
      - ${DASHMATE_HOME_DIR:?err}/${CONFIG_NAME:?err}/core/dash.conf:/home/dash/.dashcore/dash.conf
    command:
      - dashd
    stop_grace_period: 30s
    environment:
      # Solving issue under WSL when after restart container volume is not being mounted properly
      # https://github.com/docker/for-win/issues/4812
      # Following fix forces container recreation
      - WSL2_FIX=${CORE_WSL2_FIX}

volumes:
  core_data:

networks:
  default:
    ipam:
      config:
        - subnet: ${DOCKER_NETWORK_SUBNET:?err}
