version: '3.7'

services:
  dashmate_helper:
    image: ${DASHMATE_HELPER_DOCKER_IMAGE:?err}
    restart: unless-stopped
    environment:
      - LOCAL_UID=${LOCAL_UID:?err}
      - LOCAL_GID=${LOCAL_GID:?err}
      - DASHMATE_HOME_DIR=${DASHMATE_HOME_DIR:?err}
    ports:
      - 127.0.0.1:${DASHMATE_HELPER_API_PORT:?err}:${DASHMATE_HELPER_API_PORT:?err}
    command: yarn workspace dashmate helper ${CONFIG_NAME:?err}
    volumes:
      - ${DASHMATE_HOME_DIR:?err}:${DASHMATE_HOME_DIR:?err}
      - /var/run/docker.sock:/var/run/docker.sock

  core:
    image: ${CORE_DOCKER_IMAGE:?err}
    restart: unless-stopped
    ports:
      - ${DOCKER_NETWORK_BIND_IP:?err}:${CORE_P2P_PORT:?err}:${CORE_P2P_PORT:?err} # P2P
      - 127.0.0.1:${CORE_RPC_PORT:?err}:${CORE_RPC_PORT:?err} #RPC
    volumes:
      - core_data:/home/dash
      - ${DASHMATE_HOME_DIR:?err}/${CONFIG_NAME:?err}/core/dash.conf:/home/dash/.dashcore/dash.conf:ro
      - ${CORE_LOG_DIRECTORY_PATH:?err}:/var/log/dash
    command:
      - dashd
    stop_grace_period: 30s
    environment:
      # Solving issue under WSL when after restart container volume is not being mounted properly
      # https://github.com/docker/for-win/issues/4812
      # Following fix forces container recreation
      - WSL2_FIX=${WSL2_FIX:-0}
    profiles:
      - core
      - masternode

  sentinel:
    image: ${CORE_SENTINEL_DOCKER_IMAGE:?err}
    restart: unless-stopped
    depends_on:
      - core
    environment:
      - DEBUG=false
      - RPCUSER=${CORE_RPC_USER:?err}
      - RPCPASSWORD=${CORE_RPC_PASSWORD:?err}
      - RPCHOST=core
      - RPCPORT=${CORE_RPC_PORT:?err}
      - NETWORK=${NETWORK?:err}
      - SENTINEL_ARGS=-b
    stop_grace_period: 10s
    profiles:
      - masternode

  drive_abci:
    image: ${PLATFORM_DRIVE_ABCI_DOCKER_IMAGE:?err}
    restart: unless-stopped
    volumes:
      - drive_abci_data:/platform/packages/js-drive/db
      - ${PLATFORM_DRIVE_ABCI_LOG_PRETTY_DIRECTORY_PATH:?err}:/var/log/pretty
      - ${PLATFORM_DRIVE_ABCI_LOG_JSON_DIRECTORY_PATH:?err}:/var/log/json
    environment:
      - CORE_JSON_RPC_USERNAME=${CORE_RPC_USER:?err}
      - CORE_JSON_RPC_PASSWORD=${CORE_RPC_PASSWORD:?err}
      - CORE_JSON_RPC_HOST=core
      - CORE_JSON_RPC_PORT=${CORE_RPC_PORT:?err}
      - CORE_ZMQ_HOST=core
      - CORE_ZMQ_PORT=29998
      - DPNS_MASTER_PUBLIC_KEY=${PLATFORM_DPNS_MASTER_PUBLIC_KEY}
      - DPNS_SECOND_PUBLIC_KEY=${PLATFORM_DPNS_SECOND_PUBLIC_KEY}
      - DASHPAY_MASTER_PUBLIC_KEY=${PLATFORM_DASHPAY_MASTER_PUBLIC_KEY}
      - DASHPAY_SECOND_PUBLIC_KEY=${PLATFORM_DASHPAY_SECOND_PUBLIC_KEY}
      - FEATURE_FLAGS_MASTER_PUBLIC_KEY=${PLATFORM_FEATURE_FLAGS_MASTER_PUBLIC_KEY}
      - FEATURE_FLAGS_SECOND_PUBLIC_KEY=${PLATFORM_FEATURE_FLAGS_SECOND_PUBLIC_KEY}
      - MASTERNODE_REWARD_SHARES_MASTER_PUBLIC_KEY=${PLATFORM_MASTERNODE_REWARD_SHARES_MASTER_PUBLIC_KEY}
      - MASTERNODE_REWARD_SHARES_SECOND_PUBLIC_KEY=${PLATFORM_MASTERNODE_REWARD_SHARES_SECOND_PUBLIC_KEY}
      - WITHDRAWALS_MASTER_PUBLIC_KEY=${PLATFORM_WITHDRAWALS_MASTER_PUBLIC_KEY}
      - WITHDRAWALS_SECOND_PUBLIC_KEY=${PLATFORM_WITHDRAWALS_SECOND_PUBLIC_KEY}
      - NODE_ENV=${ENVIRONMENT:?err}
      - LOG_STDOUT_LEVEL=${PLATFORM_DRIVE_ABCI_LOG_STDOUT_LEVEL:?err}
      - LOG_PRETTY_FILE_LEVEL=${PLATFORM_DRIVE_ABCI_LOG_PRETTY_FILE_LEVEL:?err}
      - LOG_PRETTY_FILE_PATH=/var/log/pretty/${PLATFORM_DRIVE_ABCI_LOG_PRETTY_FILE_NAME:?err}
      - LOG_JSON_FILE_LEVEL=${PLATFORM_DRIVE_ABCI_LOG_JSON_FILE_LEVEL:?err}
      - LOG_JSON_FILE_PATH=/var/log/json/${PLATFORM_DRIVE_ABCI_LOG_JSON_FILE_NAME:?err}
      - INITIAL_CORE_CHAINLOCKED_HEIGHT=${PLATFORM_DRIVE_TENDERDASH_GENESIS_INITIAL_CORE_CHAIN_LOCKED_HEIGHT:-1}
      - VALIDATOR_SET_LLMQ_TYPE=${PLATFORM_DRIVE_ABCI_VALIDATOR_SET_LLMQ_TYPE:?err}
      - NETWORK=${NETWORK}
      - TENDERDASH_P2P_PORT=${PLATFORM_DRIVE_TENDERDASH_P2P_PORT}
    command: yarn workspace @dashevo/drive abci
    stop_grace_period: 30s
    profiles:
      - platform

  drive_tenderdash:
    image: ${PLATFORM_DRIVE_TENDERDASH_DOCKER_IMAGE:?err}
    restart: unless-stopped
    depends_on:
      - drive_abci
    ports:
      - ${DOCKER_NETWORK_BIND_IP:?err}:${PLATFORM_DRIVE_TENDERDASH_P2P_PORT:?err}:${PLATFORM_DRIVE_TENDERDASH_P2P_PORT:?err} # P2P
      - 127.0.0.1:${PLATFORM_DRIVE_TENDERDASH_RPC_PORT:?err}:${PLATFORM_DRIVE_TENDERDASH_RPC_PORT:?err} # RPC
      - 127.0.0.1:${PLATFORM_DRIVE_TENDERDASH_PPROF_PORT:?err}:${PLATFORM_DRIVE_TENDERDASH_PPROF_PORT:?err} # pprof
    volumes:
      - drive_tenderdash:/tenderdash
      - ${DASHMATE_HOME_DIR:?err}/${CONFIG_NAME:?err}/platform/drive/tenderdash:/tenderdash/config:ro
    stop_grace_period: 10s
    profiles:
      - platform

  dapi_api:
    image: ${PLATFORM_DAPI_API_DOCKER_IMAGE:?err}
    restart: unless-stopped
    depends_on:
      - drive_tenderdash
    environment:
      - API_JSON_RPC_PORT=3004
      - API_GRPC_PORT=3005
      - DASHCORE_RPC_HOST=core
      - DASHCORE_RPC_PORT=${CORE_RPC_PORT:?err}
      - DASHCORE_RPC_USER=${CORE_RPC_USER:?err}
      - DASHCORE_RPC_PASS=${CORE_RPC_PASSWORD:?err}
      - DASHCORE_ZMQ_HOST=core
      - DASHCORE_ZMQ_PORT=29998
      - DASHCORE_P2P_HOST=core
      - DASHCORE_P2P_PORT=${CORE_P2P_PORT:?err}
      - DASHCORE_P2P_NETWORK=devnet
      - NETWORK=devnet
      - TENDERMINT_RPC_HOST=drive_tenderdash
      - TENDERMINT_RPC_PORT=${PLATFORM_DRIVE_TENDERDASH_RPC_PORT:?err}
      - NODE_ENV=${ENVIRONMENT:?err}
    command: yarn workspace @dashevo/dapi api
    stop_grace_period: 10s
    profiles:
      - platform

  dapi_tx_filter_stream:
    image: ${PLATFORM_DAPI_API_DOCKER_IMAGE:?err}
    restart: unless-stopped
    environment:
      - TX_FILTER_STREAM_GRPC_PORT=3006
      - DASHCORE_RPC_HOST=core
      - DASHCORE_RPC_PORT=${CORE_RPC_PORT:?err}
      - DASHCORE_RPC_USER=${CORE_RPC_USER:?err}
      - DASHCORE_RPC_PASS=${CORE_RPC_PASSWORD:?err}
      - DASHCORE_ZMQ_HOST=core
      - DASHCORE_ZMQ_PORT=29998
      - DASHCORE_P2P_HOST=core
      - DASHCORE_P2P_PORT=${CORE_P2P_PORT:?err}
      - DASHCORE_P2P_NETWORK=devnet
      - NETWORK=devnet
      - TENDERMINT_RPC_HOST=drive_tenderdash
      - TENDERMINT_RPC_PORT=26657
    command: yarn workspace @dashevo/dapi core-streams
    stop_grace_period: 10s
    profiles:
      - platform

  dapi_envoy:
    image: ${PLATFORM_DAPI_ENVOY_DOCKER_IMAGE:?err}
    restart: unless-stopped
    ports:
      - ${DOCKER_NETWORK_BIND_IP:?err}:${PLATFORM_DAPI_ENVOY_HTTP_PORT:?err}:10000 # JSON RPC and gRPC Web & Native
    depends_on:
      - dapi_api
      - dapi_tx_filter_stream
    environment:
      - ENVOY_UID=${LOCAL_UID:?err}
      - ENVOY_GID=${LOCAL_GID:?err}
    volumes:
      - ${DASHMATE_HOME_DIR:?err}/${CONFIG_NAME:?err}/platform/dapi/envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ${DASHMATE_HOME_DIR:?err}/ssl/${CONFIG_NAME:?err}/bundle.crt:/etc/ssl/bundle.crt:ro
      - ${DASHMATE_HOME_DIR:?err}/ssl/${CONFIG_NAME:?err}/private.key:/etc/ssl/private.key:ro
    stop_grace_period: 10s
    profiles:
      - platform

volumes:
  core_data:
  drive_abci_data:
  drive_tenderdash:

networks:
  default:
    ipam:
      config:
        - subnet: ${DOCKER_NETWORK_SUBNET:?err}
