[package]
name = "platform-version"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Versioning library for Platform"
version = "1.0.0-dev.16"
edition = "2021"
rust-version = "1.76"
license = "MIT"

[dependencies]
thiserror = { version = "1.0.59" }
versioned-feature-core = { git = "https://github.com/dashpay/versioned-feature-core", version = "1.0.0" }
grovedb-version = { git = "https://github.com/dashpay/grovedb", version = "1.0.0-rc.2"}
once_cell = "1.19.0"

[features]
mock-versions = []
