[package]
name = "platform-version"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Versioning library for Platform"
version = "1.0.0-pr.1946.1"
edition = "2021"
rust-version = "1.76"
license = "MIT"

[dependencies]
thiserror = { version = "1.0.59" }
versioned-feature-core = { git = "https://github.com/dashpay/versioned-feature-core", version = "1.0.0" }

[features]
mock-versions = []
