[package]
name = "platform-version"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Versioning library for Platform"
version = "1.4.1"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
thiserror = { version = "1.0.63" }
bincode = { version = "2.0.0-rc.3" }
versioned-feature-core = { git = "https://github.com/dashpay/versioned-feature-core", version = "1.0.0" }
grovedb-version = { version = "2.1.0" }
once_cell = "1.19.0"

[features]
mock-versions = []
