[package]
name = "platform-version"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Versioning library for Platform"
version = "2.0.0-rc.11"
edition = "2021"
rust-version.workspace = true
license = "MIT"

[dependencies]
thiserror = { version = "2.0.12" }
bincode = { version = "=2.0.0-rc.3" }
versioned-feature-core = { git = "https://github.com/dashpay/versioned-feature-core", version = "1.0.0" }
grovedb-version = { git = "https://github.com/dashpay/grovedb", rev = "68e8bd78781a234aa6c3a8bcb45234e852bbe07c" }
once_cell = "1.19.0"

[features]
mock-versions = []
