[package]
name = "platform-version"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Bincode based serialization and deserialization"
version = "1.0.0-pr.1694.7"
edition = "2021"
rust-version = "1.76"
license = "MIT"
private = true

[dependencies]
thiserror = { version = "1.0" }

[features]
mock-versions = []
