[package]
name = "platform-version"
authors = ["Samuel Westrich <sam@dash.org>"]
description = "Bincode based serialization and deserialization"
version = "1.0.0-pr.1825.2"
edition = "2021"
rust-version = "1.76"
license = "MIT"

[dependencies]
thiserror = { version = "1.0.58" }

[features]
mock-versions = []
